[2014-09-15 16:33] golu1aug opened #4 "Circular shape cropping"
I have review your source code , Mind blowing cropping work But It actually cropping in rectangular form not in circular form ,It seem like you are showing the rectangular(cropped image) into circular form .
Can you tell me how to crop a image in proper circular and oval shape.

[2014-09-22 15:27] BalestraPatrick opened #6 "Custom crop size at runtime"
Hello,

Thanks a lot for the great library. I'd love to have support for a custom cropSize at runtime. You could simply add a boolean resizable variable and if it's set to true, the edges of the maskLayer can be dragged (to increase or decrease the width and the height of the mask).

Let me know if you are going to add this feature :)

Thanks.
Patrick

[2014-11-06 02:25] lebinhdinh296 opened #11 "How to fit image minScale away less frame."
Hello !
Please help me. How to make sure the image always fills the aspect ratio-don't allow any back space.

[2015-01-09 10:46] Just- opened #19 "Managing UI constraints"

[2015-01-09 13:56] #19 closed

[2015-01-18 02:54] raulriera opened #21 "Different sizes when zooming?"
Hi, I don't know if I understand the library correctly, but if you see this example app I did with your code http://cl.ly/ZLhB you will notice that the resulting croppedImage is changing when I scale the underlaying image.

Is this correct? shouldn't the returned `croppedImage` always be in the same size?

[2015-01-18 17:24] ruslanskorb commented on #21
Hi Raul,

Yes, it is correct. `croppedImage` should not always be in the same size. Because the size is based on a selected region of the original image.

Sincerely,
Ruslan

[2015-01-18 17:24] #21 closed

[2015-01-18 17:28] raulriera commented on #21
But, did you see the video? the `croppedImage.size` is returned in the console with different values

[2015-01-18 17:43] ruslanskorb commented on #21
When you scale the image, the selected area of the image is changing. It has a different size than the previous one. So, the size of `croppedImage` has different values.

[2015-01-22 09:25] Wangxiaotao opened #22 "Do you submit your code for pod?"
when i use pod 'RSKImageCropper', and run pod install, i found that the code missing the custom UI feature?

/**
 The mode for cropping.
 */
@property (assign, nonatomic) RSKImageCropMode cropMode;

/// -------------------------------------------
/// @name Checking of the Interface Orientation
/// -------------------------------------------

/**
 Returns a Boolean value indicating whether the user

[2015-01-22 13:00] ruslanskorb commented on #22
Hi @Wangxiaotao,

What do you mean?
I just checked the installation using cocoapods and everything works fine.

Sincerely,
Ruslan

[2015-01-23 04:52] Wangxiaotao commented on #22
my podfile is like

pod 'RSKImageCropper'

after the installation, the following code is not found.
but i fix it by modifying the podfile

pod 'RSKImageCropper', :git => 'https://github.com/ruslanskorb/RSKImageCropper.git'

and run install, the missing code come back.

/**
 The Title Label.
 */
@property (strong, nonatomic, readonly) UILabel *moveAndScaleLabel;

/**
 The Cancel Button.
 */
@proper

[2015-01-23 07:28] ruslanskorb commented on #22
RSKImageCropper is available in the repository CocoaPods - https://github.com/CocoaPods/Specs/blob/master/Specs/RSKImageCropper/0.4.0/RSKImageCropper.podspec.json.
I think you have a problem with CocoaPods that you have installed.

Cheers,
Ruslan

[2015-01-23 07:35] yas375 commented on #22
@ruslanskorb I think @Wangxiaotao is right. The latest version available via CocoaPods if 0.4.0, but but there is a pull request has been merged into master since then. And that pull request exactly contains the code @Wangxiaotao is referencing here.

Here is the diff between `0.4.0` and `master`: https://github.com/ruslanskorb/RSKImageCropper/compare/0.4.0...master

The problem can be solved if y

[2015-01-23 07:42] ruslanskorb commented on #22
Oh, It is my mistake...
I will make a new version and push them to CocoaPods.
@Wangxiaotao Sorry about that!
@yas375 Thanks!

[2015-01-23 07:56] ruslanskorb commented on #22
Fixed :innocent:

[2015-01-23 07:56] #22 closed

[2015-01-23 08:11] yas375 commented on #22
:+1:

[2015-01-23 09:28] Wangxiaotao commented on #22
Thank you for fixing it, nice~

[2015-02-11 11:24] #4 closed

[2015-02-11 11:24] #11 closed

[2015-02-11 11:31] ruslanskorb commented on #6
Bump. I'd like to hear from all watchers on this. Should RSKImageCropper support custom crop size at runtime? If yes, it's high time we make it happen.

Cheers,
Ruslan

[2015-02-26 11:14] ruslanskorb commented on #6
Due to lack of demand for the community, a task is closed.

[2015-02-26 11:14] #6 closed

[2015-02-26 20:27] ruslanskorb opened #27 "Tests: Unit Test"
Things I'd like if you're adding tests for this project:

**Tooling**: Specta/Expecta, XCTest

**Areas to look at:**
- [RSKImageScrollView] Display image.
- [UIImage+RSKImageCropper] Image orientation.
- [UIImage+RSKImageCropper] Image rotation.
- [CGGeometry+RSKImageCropper] Line segment intersection.
- [RSKImageCropViewController] Can be created.
- [RSKImageCropViewController] Crop mode - snapsh

[2015-02-26 21:01] ruslanskorb opened #28 "CI: Travis"

[2015-02-26 21:04] ruslanskorb opened #29 "Coverage: Coveralls + Slather"

[2015-02-28 09:46] dyadenkor opened #30 "Rotate function"
Would be great if you will add rotation feature. Thanks

[2015-02-28 09:47] dyadenkor opened #31 "Add ability to customize interface."
Maybe it will great add image cropper as UIView inherit, not UIViewController for easy customization? Thanks

[2015-02-28 10:29] pronebird commented on #31
What kind of customization are you looking for and what can't you achieve with view controller subclass?

[2015-02-28 14:02] dyadenkor commented on #31
Fx, change colors and fonts for butons, remove label, change buttons position, change text to images and so on. Why they have readonly property? :)

[2015-02-28 14:53] pronebird commented on #31
There is nothing that prevents you from doing so from view controller subclass, e.g. you can hide or reposition undesired elements and add your own stuff on top.

[2015-02-28 22:08] ruslanskorb commented on #31
Hi @dyadenkor,

@pronebird is right. You can do it using view controller subclass.

@pronebird, thanks for your participation! :star:

[2015-02-28 22:08] #31 closed

[2015-02-28 22:12] ruslanskorb commented on #30
I will try to add this feature soon.

Thanks,
Ruslan

[2015-03-01 17:42] dyadenkor commented on #30
Wow, I wanted say thank you for your quick work, but unfortunately you have a couple mistakes.
I set  imageCropVC.avoidEmptySpaceAroundImage = YES;
so hope I can't see black space in crop area like here
https://www.dropbox.com/s/jr2qtiuturpsymq/Screenshot%202015-03-02%2000.34.15.png?dl=0,

but result surprise me more
https://www.dropbox.com/s/4s4na2pe4rqe4vj/Screenshot%202015-03-02%2000.41.39.png?

[2015-03-01 17:43] dyadenkor commented on #30
https://www.dropbox.com/s/6096qo8cp5dmgl4/Screenshot%202015-03-02%2000.43.31.png?dl=0
https://www.dropbox.com/s/k9ptszp8bkw6x90/Screenshot%202015-03-02%2000.43.43.png?dl=0

[2015-03-01 17:44] dyadenkor commented on #30
I need this crop feature for rectangle area and square :) For circle it looks nice. Thanks

[2015-03-01 19:11] pronebird commented on #30
it seems that you need to scale image on rotation to avoid black bars.

[2015-03-01 19:15] ruslanskorb commented on #30
Yes, it's my mistake. I'll fix it soon. Sorry guys!

[2015-03-01 19:24] pronebird commented on #30
Hey, no apologies, thanks for your efforts, I wish I could help you more but I am swamped on other projects, currently maintaining couple of my own pods too, it's tough.

[2015-03-01 22:14] ruslanskorb commented on #30
I need more time :-]

[2015-03-05 10:21] heistings commented on #30
I'm sorry, I'm a new fish. How can you contribute code for this issue? And where did you put the commit "[RSKImageCropViewController] Add support for rotation." ?

[2015-03-05 10:47] pronebird commented on #30
@heistings welcome! I guess this commit was stripped because I can't seem to trace it either.

[2015-03-05 10:52] pronebird commented on #30
I'd say instead of hacking rotations through some property, we could simply implement the necessary methods to handle rotations, resize view and recalculate bounds and let to handle the rest to developer.

- `willRotateToInterfaceOrientation:duration:` for iOS < 8
- `viewWillTransitionToSize:withTransitionCoordinator:` on iOS >= 8

[2015-03-06 02:24] heistings commented on #30
@pronebird Thanks for your passion. I think we may support a crop view instead to enable user to customize his own controller. Or we just make public property to enable user to subclass the controller.

[2015-03-10 11:19] ruslanskorb commented on #30
Hi guys!
What do you think about this - fb30e1fc59bddd200303261a3f08ef014e054fd9?
I wish to hear your feedback :-]

[2015-03-11 15:24] hon-key opened #35 "Custom viewcontroller UI"
color,alpha,button...

[2015-03-11 16:01] ruslanskorb commented on #35
All of this can be done with the current implementation or view controller subclass.

[2015-03-11 16:01] #35 closed

[2015-03-11 16:26] #30 closed

[2015-03-11 16:36] dyadenkor commented on #30
Well done!!!

[2015-03-13 11:11] dyadenkor opened #38 "Rectangle mode avoidEmptySpaceAroundImage not working"
Hi gents, I've tried rectangle mode (for quick testing I've used square mode, but change this in source code CGSize maskSize = CGSizeMake(length, length * 0.75));

And here the result https://www.dropbox.com/s/lp2yuhx0lnzoubu/Screenshot%202015-03-13%2018.05.19.png?dl=0

avoidEmptySpaceAroundImage not working with rectangle mode for me, but perfect with square.

Or how should I create rectangle mod

[2015-03-13 11:18] #28 closed

[2015-03-13 11:18] #29 closed

[2015-03-13 12:36] ruslanskorb commented on #38
Hi @dyadenkor,

Rectangle mode is the custom mode.
You need to set `cropMode` to `RSKImageCropModeCustom` and implement [data source methods] (https://github.com/ruslanskorb/RSKImageCropper#datasource).

To support the rotation when `cropMode` is `RSKImageCropModeCustom` you must implement the data source method `imageCropViewControllerCustomMovementRect:`.

Then `avoidEmptySpaceAroundImage` will

[2015-03-13 13:28] dyadenkor commented on #38
Thanks, will try and will tell you the result. Thanks!

[2015-03-13 14:34] dyadenkor commented on #38
I'he tried. https://www.dropbox.com/s/laralbs0d0fewjm/Screenshot%202015-03-13%2021.33.15.png?dl=0

What I am doing wrong?

#pragma mark - Action handling

- (void)onAddPhotoButtonTouch:(UIButton *)sender
{
    UIImage *photo = [UIImage imageNamed:@"photo"];
    RSKImageCropViewController *imageCropVC = [[RSKImageCropViewController alloc] initWithImage:photo cropMode:RSKImageCropModeCustom];
    im

[2015-03-13 14:53] ruslanskorb commented on #38
You should calculate and return the correct movement rect according to the current values of the parameters, such as the angle of rotation.
It's a usage question. You can ask about it on stack overflow.

[2015-03-13 14:53] #38 closed

[2015-03-17 18:56] rahulgupta6485 opened #40 "Workspace Empty"
I have downloaded the source and trying to run But as I open workspace but didn't able to compile the code... Pods are missing.What I need to run this source code.

[2015-03-17 19:08] pronebird commented on #40
Go to Example folder and run pod install, then open workspace.

[2015-03-17 21:34] ruslanskorb commented on #40
As @pronebird mentioned above, you have to run `pod install`.
Thanks @pronebird!

[2015-03-17 21:34] #40 closed

[2015-03-19 11:12] pronebird commented on #38
We should include rotation in sample app, I think not many understand what is movement rect.

[2015-03-19 11:12] pronebird commented on #28
:+1:

[2015-03-19 11:18] pronebird commented on #30
Nice but why do use tgmath, what's wrong with math.h itself?

[2015-03-19 20:12] romaincointepas opened #41 "Doesn't work with 2x and 3x images"
Thanks for this cool library!

In example project, in `Images.xcassets`, add an image as 2x (or 3x) for `photo`, then build on a retina screen. Cropped image does not match cropped area at all.

It seems that scale is not handled correctly when generating `cropRect` (and the resulting croppedImage).

Note that any generated UIImage will have a scale of 2 on retina devices (ex: an image fetched onl

[2015-03-19 20:21] romaincointepas commented on #41
It seems that you are hardcoding a scale of 1.0 here:
https://github.com/ruslanskorb/RSKImageCropper/blob/bc1b146e1befcd3e364b9ba3f05d3761e4b0b72c/RSKImageCropper/RSKImageCropViewController.m#L342

[code]

I think you should be using originalImage.scale (https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIImage_Class/#//apple_ref/occ/instp/UIImage/scale)

[2015-03-19 22:53] pronebird commented on #41
There is image view inside that takes care of retina. I don't think it image scale has anything to do with retina..

[2015-03-20 12:12] romaincointepas commented on #41
I've made a video to show the problem with the provided example, but steps to reproduce above are pretty self-explanatory :)

http://cl.ly/37281l0W0h2E

[2015-03-20 13:50] dyadenkor commented on #38
I understand what is this, but I can't understand how could I calculate it. I saw many calculations in sources, could you explain, please in words these processes. Thanks :)

[2015-03-20 17:45] denigada opened #42 "hey. i need a little help"
If I have a picture taken in iphone landscape mode. The cropper view gets the image turned 90degree left. How can I make it not to turn the image at any condition ? By the way sorry if my English is bad.

[2015-03-20 18:51] denigada commented on #42
And also the cropped version is also a square not a circle shaped image. I would really appreciate your help

[2015-03-20 20:35] ruslanskorb commented on #38
@dyadenkor, you can read about these processes [here](http://stackoverflow.com/questions/26824513/zoom-a-rotated-image-inside-scroll-view-to-fit-fill-frame-of-overlay-rect/28969133#28969133)

@pronebird What kind of example would you add?

[2015-03-20 21:20] ruslanskorb commented on #42
[1] You need to rotate the image to the desired angle before pass it to `RSKImageCropViewController`.
[2] You need to set the property `applyMaskToCroppedImage` to `YES`.

[2015-03-20 21:20] #42 closed

[2015-03-20 21:21] #41 closed

[2015-03-20 21:27] ruslanskorb commented on #41
@romaincointepas [Fixed!](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/1.1.1)

[2015-03-21 09:12] romaincointepas commented on #41
Amazing, thanks a lot!

[2015-03-24 21:23] romaincointepas opened #44 "Not working for App Extensions"
Because `[UIApplication sharedApplication]` is not accessible in app extensions.

The common way of solving this is adding a macro "APP_EXTENSION=1" for the app extension target and checking for it.

It seems you only use it for status bar purposes. You should know that status bar behaves really weird in app extensions (inherit parent app behavior, NOT customizable), so not trying to define/style

[2015-03-28 18:58] #44 closed

[2015-03-30 23:05] AnthonyBY opened #46 "DataSource Protocol stop working"
Hey Ruslan,
I'm trying to changing radius in the maskRect (want to make it small), but it's looks like dataSource Protocol stop working.

I use the following code:

 RSKImageCropViewController *imageCropVC = [[RSKImageCropViewController alloc] initWithImage:image];
    imageCropVC.delegate = self;
    imageCropVC.dataSource = self;
    [self presentViewController:imageCropVC animated:nil completio

[2015-03-31 09:27] AnthonyBY commented on #46
Ruslan, I have found issue. When I init CropViewController with "cropMode" everything work fine.

 RSKImageCropViewController *imageCropVC = [[RSKImageCropViewController alloc] initWithImage:image cropMode:RSKImageCropModeCircle];

Sorry for the inconvenience.

[2015-03-31 10:28] ruslanskorb commented on #46
:thumbsup:

[2015-03-31 10:28] #46 closed

[2015-04-03 14:03] kksuthar321 opened #47 "I want to crop image square"
I want to cut image in square , i changed this line _cropMode = RSKImageCropModeCircle to
RSKImageCropModeSquare but not working

[2015-04-03 15:26] ruslanskorb commented on #47
The following code should work for you:

[code]

[2015-04-03 15:26] #47 closed

[2015-04-06 20:48] romaincointepas commented on #44
Thanks for the fix!

[2015-04-18 23:07] Knights22 opened #51 "Is square cropping of images supported or only circular?"

[2015-04-18 23:26] Knights22 commented on #51
Ahhh, found it, RSKImageCropModeSquare

[2015-04-18 23:26] #51 closed

[2015-04-19 22:43] #27 closed

[2015-04-22 14:32] Arvkon opened #52 "Define a minimum output size?"
Instagram photos are 640 x 640 pixels in size. I would like to make this the minimum size that an image can be cropped to. Could you (or anyone) suggest how I might go about achieving this?

[2015-05-21 21:01] ruslanskorb commented on #52
Hello Arvid,

Sorry for the delay.
I will think about it in the coming weekend.
Currently, you can try to add the following code at [this line](https://github.com/ruslanskorb/RSKImageCropper/blob/master/RSKImageCropper/RSKImageScrollView.m#L211):

[code]

Sincerely,
Ruslan

[2015-05-22 12:10] Arvkon commented on #52
You, sir, are a gentleman! Your suggestion worked like a charm =)

I made a fork with your code and a minOutputSize property: https://github.com/Arvkon/RSKImageCropper/commit/e590f8ad178bf6a82ce7e3db5a6d5af1604c60f1

[2015-05-22 12:10] #52 closed

[2015-05-22 20:09] ruslanskorb commented on #52
:smiley: :thumbsup:

[2015-06-04 14:20] maksTheAwesome opened #54 "Should not the controller in RSKImageCropModeCircle return circled image?"
I get squared image returned in the delegate even when the controller created in RSKImageCropModeCircle.

[2015-06-04 14:46] ruslanskorb commented on #54
To get the circled image you need to set the value of the property `applyMaskToCroppedImage` to `YES`.

[2015-06-04 19:13] #54 closed

[2015-06-04 19:45] maksTheAwesome commented on #54
Thanks, dude. I should have get that on my own.

[2015-07-03 18:13] m1entus opened #58 "Rectangle cropping with custom crop mask and avoidEmptySpaceAroundImage = YES"
![ios simulator screen shot 3 lip 2015 20 42 30](https://cloud.githubusercontent.com/assets/1565368/8503718/1f7270ae-21c4-11e5-9c3d-13c5ba9cb663.png)
Hey, could you tell me how to calculate correct avoidness for empty space around image using rectangle, which formalus did you use to do it for Square, because it works perfectly fine!! If i am trying to do it for rectangle sometimes it doesn't avoid

[2015-07-04 18:12] ruslanskorb commented on #58
Hi @m1entus,
You need to calculate the movement rect. It is a custom rect in which the image can be moved.
Unfortunately, I have no formula to calculate it for the rectangle.
[Here](http://stackoverflow.com/questions/26824513/zoom-a-rotated-image-inside-scroll-view-to-fit-fill-frame-of-overlay-rect/28969133#28969133) you can see how I calculate it for the square.

[2015-07-04 18:14] m1entus commented on #58
Yes, thanks for your answer i solved in but it is not perfect solution, and i just asked it before actually i did it, but anywat thanks.

[2015-07-04 18:14] #58 closed

[2015-07-14 18:06] Piero87 opened #61 "UIStatusBar color problem"
Hi, i'm trying to use this amazing library, but i have a problem, when i dismiss the RSKImageCropperViewController the status bar become black, instead in my app i have a light color status bar. how i can fix it?

[2015-07-19 18:04] ruslanskorb commented on #61
Hi @Piero87!
Sorry for the delay. Can you provide a test project? I think there should be no bugs.

[2015-07-19 22:54] Piero87 commented on #61
Hi @ruslanskorb, i have make a test project, as you can see in this project the status bar start light and then when i crop the image become dark.

i hope it helps, or maybe i have wrong something.

This is the project: https://www.dropbox.com/s/rlp0cqf5wtdpa0n/TestStatusBar.zip?dl=0

[2015-07-20 03:51] ruslanskorb commented on #61
Hi @Piero87,
There are no problems with RSKImageCropper.
Simply add the following code to your view controller and everything will work well:
[code]

[2015-07-20 03:51] #61 closed

[2015-07-20 07:25] Piero87 commented on #61
Thanks!

[2015-07-21 08:20] tapz opened #62 "NSLocalizedString table and bundle name"
It would be nice to be able to provide table and bundle name, which RSKImageCropper would use in all NSLocalizedString calls. Currently with Pods localization is not possible.

[2015-07-21 10:17] pronebird commented on #62
Would be even better to include a bundle with localizations and ship it with pod.

[2015-07-21 15:43] tapz commented on #62
I can provide Finnish, Swedish and Spanish translations. Maybe some others too.

[2015-07-21 17:39] ruslanskorb commented on #62
It sounds good to me! Can you do it and open a PR?

[2015-07-23 01:13] x137671075 opened #64 "Can we provide a maskRect that defined by a special image frame？"

[2015-08-05 07:33] heyehao2008 commented on #62
I don't think  include too many NSLocalizedString in pods is good!

[2015-08-05 07:55] tapz commented on #62
I what way localized string in a pod are not good? Anyway, I have already done a PR and if it's not merged I will continue using my own fork/branch.

[2015-08-05 07:58] heyehao2008 opened #66 "can we provide a property to fixed size"
I set the RSKImageCropMode = RSKImageCropModeSquare , when I zoom the image smaller ,the MaskRect is smaller with image, not to be a square . can we fixed the size and not changed with image zoom

[2015-08-05 08:41] pronebird commented on #62
Defo having localization iniside of pod is a good practice.

[2015-08-13 03:15] heyehao2008 commented on #66
I'm sorry，the property 'avoidEmptySpaceAroundImage' is work for this function。please close this issue。

[2015-08-13 03:36] #66 closed

[2015-08-24 18:51] andrew804 opened #68 "RSKImageCropModeSquare does not return perfectly square UIImages for some images"
Using RSKImageCropModeSquare does not always return a perfect square for every image I crop. For example cropping this image at minimum zoom produces an image of 418 x 417

![11873728_1481365722181855_881550142590002518_n](https://cloud.githubusercontent.com/assets/8133022/9449052/8bedd16c-4a76-11e5-8379-f6cff002d750.jpg)

And this image comes out at 405 x 404

![11892068_1481361512182276_69548667

[2015-08-28 03:42] StevenMasini commented on #62
Hey guys, do we have a solution for the Localization ? I would need to add Mandarin.

[2015-08-28 08:20] tapz commented on #62
I have it in my branch, but Ruslan hadn't merged the PR yet. You can add Mandarin to my branch if you like and I'll make a new PR:

https://github.com/tapz/RSKImageCropper/settings/collaboration

[2015-08-28 10:49] StevenMasini commented on #62
The link doesn't works, it shows 404 not found.
But I would be glad to add the translation to your branch :)

[2015-08-28 11:04] tapz commented on #62
Sorry, just remove the /settings/collaboration from the url:

https://github.com/tapz/RSKImageCropper

[2015-08-29 03:52] StevenMasini commented on #62
Ok I pushed the Mandarin localization to the Localization branch.
I can also provide you with Arabic, do you want it ?

[2015-08-29 08:23] tapz commented on #62
I'm thankful for all possible languages :-) I actually took most of the languages from iPhone, but couldn't copy Chinese, Arabic etc because didn't know how to reproduce the characters and couldn't even recognise different characters.

[2015-08-29 08:40] StevenMasini commented on #62
I asked a Pakistan friend who speak Arabic to translate these words. Nevertheless Arabic is read from right to left, not sure if we need to adapt the buttons for it.

[2015-08-29 19:51] pronebird commented on #62
There was a presentation in one of WWDC sessions related to RTL languages and that iOS 9.0 automatically mirrors a lot of stuff. So as soon as we use trailing and leading constraints and such, I guess we're good.

[2015-08-31 06:56] ruslanskorb commented on #64
There is no special method to do it.
If you want to crop the image with the mask image I suggest you take a look at the function [`CGImageCreateWithMask`](https://developer.apple.com/library/prerelease/ios/documentation/GraphicsImaging/Reference/CGImage/index.html#//apple_ref/c/func/CGImageCreateWithMask).

[2015-08-31 06:56] #64 closed

[2015-09-04 08:15] StevenMasini commented on #62
I'm not sure that Arabic users will notice the difference as long as the button are floating in the interface. Both LTR and RTL languages are "managed" it makes no difference.
Don't you think ?

[2015-09-05 18:21] #62 closed

[2015-09-05 18:21] #68 closed

[2015-10-01 09:44] SebastianMecklenburg opened #71 "Example Project"
Hi there,

I don't seem to be able to compile the example project due to podfile errors. 'pod install' ran fine, but xCode tells me

[code]

Do you know what this could mean?

Thanks and regards,
Sebastian Mecklenburg

[2015-10-01 09:45] pronebird commented on #71
Just run pod install from Example folder as the message suggests.

[2015-10-01 15:14] SebastianMecklenburg commented on #71
Sorry, I should have mentioned that I did that. Also tried `pod update` and deleting the pod related files and doing a fresh `pod init`. Stragely enough nothing worked.  That was at work where I use Xcode 7.0.1 under OSX 10.10.5. I just treid it on my home computer with Xcode 6.3 (also 10.10.5) and it worked fine. I will check at work again tomorrow, maybe I can find something out. Thanks for your

[2015-10-01 16:18] ruslanskorb commented on #71
@SebastianMecklenburg I guess this error is related to the configuration of CocoaPods on your computer. You can try to find a solution [here](https://github.com/CocoaPods/CocoaPods/issues/2303).

[2015-10-01 16:18] #71 closed

[2015-10-13 10:01] virmaninupur5 opened #72 "RSKImageCrop for swift"
Hi ,

I installed this library using pods. Currently I am working on Xcode 7.0.1
After pod installation , I imported
 #import <RSKImageCropper/RSKImageCropper.h>
in MyProject-Bridging-Header.h

It is showing an error No such module

[2015-10-20 07:12] ruslanskorb commented on #72
Hi @virmaninupur5,

I think you have a problem with the configuration of the project. [Here](https://dl.dropboxusercontent.com/u/89891480/RSKImageCropperWithSwiftAndCocoapods.zip) you can see a working example.

Good luck!

[2015-10-20 07:12] #72 closed

[2015-10-21 11:03] oanta-william opened #75 "Swift: Include of non-modular <tgmath.h>"
Hi,

I'm trying to use your pod in my project that's developed using Swift, but after installing it I get the following error:

/Users/william_oanta/Agilio/iOS-App/Pods/RSKImageCropper/RSKImageCropper/CGGeometry+RSKImageCropper.h:26:9: Include of non-modular header inside framework module 'RSKImageCropper.CGGeometry_RSKImageCropper'

I have set in Build Settings 'Allow Non-modular Includes in Fram

[2015-10-29 00:29] shaase commented on #75
Hi there, just checking out this library myself. Have you set up a [bridging header](https://developer.apple.com/library/ios/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html) in your project? I'm trying the library out in a Swift project, and after adding `#import "RSKImageCropViewController.h"` to my header it appears to build without errors.

[2015-11-11 12:42] bawn opened #76 "Add MaskPath border line"
Like this

![1](https://cloud.githubusercontent.com/assets/7238866/11091341/79c5c888-88b4-11e5-92d9-eed11762205c.jpg)

For example, when the pictures are black, the situation will be like,

![131 2x](https://cloud.githubusercontent.com/assets/7238866/11091354/8fd99be0-88b4-11e5-8682-192bfa4fc301.png)

although i can change maskLayerColor, but I think add to add a border is a good user experience

[2015-11-12 11:51] #76 closed

[2015-11-12 13:07] ruslanskorb commented on #75
Hi @oanta-william,

I suppose that there is a problem with your CocoaPods configuration.
Try to use the latest stable version of CocoaPods (0.39.0).

[Here](https://dl.dropboxusercontent.com/u/89891480/RSKImageCropperWithSwiftCocoapodsAndModules.zip) you can see a working Swift project that uses CocoaPods and Framework Modules.

Cheers!

[2015-11-12 13:07] #75 closed

[2015-11-13 09:16] bawn opened #78 "Stroked outline problem"
Thanks for providing such a great tool.

When set  the maskLayerStrokeColor RSKImageCropViewController view  outline also set the maskLayerStrokeColor in left and top， and stroked outline not the same thickness contour.
![12](https://cloud.githubusercontent.com/assets/7238866/11142822/0f5fa586-8a2b-11e5-97c4-49f119f21abe.jpg)

[2015-11-13 09:51] ruslanskorb commented on #78
I think that there is a problem in your mask rect. Can you provide a sample project?

[2015-11-13 13:07] bawn commented on #78
@ruslanskorb

I add the following code in demo

[code]

[code]

[2015-11-13 19:26] KMKRN opened #79 "Zooming original picture"
How do I prohibit it?

[2015-11-13 20:03] ruslanskorb commented on #79
What do you mean?

[2015-11-13 20:12] ruslanskorb commented on #78
You need to use [the 1.4.1 version](https://github.com/ruslanskorb/RSKImageCropper/pull/80) and update your custom mask path. Everything should work as expected.

[code]

[2015-11-13 20:12] KMKRN commented on #79
It's possible to scale image by zooming in and cropping, is it possible to disallow scaling?

[2015-11-13 20:19] ruslanskorb commented on #79
No, RSKImageCropper does not provide this capability.

[2015-11-13 20:24] #78 closed

[2015-11-13 20:50] #79 closed

[2015-11-14 06:37] estebansotoara opened #81 "Ninety degrees clockwise rotation"
Hi
I added a functionality to rotate the image by ninety degrees clockwise, the functionality is disabled by default and can be enabled setting the parameter '''fixedRotationEnabled''' to YES, this shows a button that allows the rotation. Also added a few test for this.

I have a fork with the changes (https://github.com/estebansotoara/RSKImageCropper/tree/ninetyDegreesRotation), you can check it

[2015-11-15 08:45] ruslanskorb commented on #81
Hi Esteban,

Thank you for your efforts to make RSKImageCropper better!
I'm glad to see that you have added tests :+1:

My main idea for RSKImageCropper is to keep it simple. I think ninety degrees rotation can be useful for RSKImageCropper in some cases, but mostly it will not be used. It can be a good idea to implement this functionality in subclass of RSKImageCropViewController and use speciall

[2015-11-16 00:01] estebansotoara commented on #81
Hi ruslanskorb, thanks for your answer.

You are right, this can be achieved without pain using a subclass, I did it in case someone need it just out of the box. As for the image for the rotate button I actually thought about using one but my skills in icon design are not very high and didn't just wanted to grab someone else's image so I decided to leave it as a text, other possibility could be le

[2015-11-16 14:07] ruslanskorb commented on #81
In any case, I hope that it will be helpful to someone :-]
Cheers!

[2015-11-16 14:07] #81 closed

[2015-11-23 15:19] markfulo opened #82 "Connection to assetsd was interrupted or assetsd died"
I have encountered this issue when I try to reload a panoramic image (10mb) in RSKImageCropViewController.

Steps:
1. Load pano image using UIImagePickerController with source type UIImagePickerControllerSourceTypePhotoLibrary.
2. Then "Choose" on RSKImageCropViewController (The UI lags here before going back to the previous view controller).
3. Cropped image is now assigned to the imageView.
4. L

[2015-11-23 19:59] markfulo commented on #82
Also, I received memory warning sometimes on RSKImageCropViewController before it crashes, Most of the time it doesn't

[2015-11-24 11:57] ruslanskorb commented on #82
Hi @markfulo,

Can you provide a test project?

p.s. I suggest you [to check the memory usage](https://developer.apple.com/library/ios/documentation/Performance/Conceptual/ManagingMemory/Articles/FindingPatterns.html#//apple_ref/doc/uid/20001882-CJBJFIDD) in your application.

[2015-11-26 07:37] ruslanskorb commented on #82
@markfulo Have you fixed your issue?

[2015-11-30 19:01] markfulo commented on #82
@ruslanskorb, sorry I haven't looked at it that much, currently I just implemented a temporary fix by limiting the file size of the image before I crop it. It's not on my priorities right now (my project has been changed >_< ).  I guess I'll close this for now.

Awesome image cropper though! :+1:  :+1:

Thanks!

[2015-11-30 19:01] #82 closed

[2015-12-01 20:36] mommyme opened #83 "CGBitmapContextCreate: unsupported parameter combination and other errors"
When I select the image by tapping "Choose" after editing, I get the following errors. Have no idea why this is happening.

Dec  1 15:32:35  MyApp <Error>: CGBitmapContextCreate: unsupported parameter combination: set CGBITMAP_CONTEXT_LOG_ERRORS environmental variable to see the details
Dec  1 15:32:35  MyApp <Error>: CGContextSetInterpolationQuality: invalid context 0x0. If you want to see the ba

[2015-12-01 20:38] mommyme commented on #83
Sorry, it was an issue with my own code.

[2015-12-01 20:38] #83 closed

[2015-12-01 21:23] mommyme opened #84 "Necessary variables are not accessible"
I wanted to suggest that you make the following variables parameters, or at least make them available for change by including them in the .h file. I want to eliminate the space around my circle mask so that it fills the screen width-wise. Also, for iPhone 4S and showing the crop view controller in a popover in the iPad, the "move and scale" label is right on top of the crop area.

//static const C

[2015-12-01 22:05] mommyme opened #85 "Return the original image in the delegate methods"
The cropped image is returned in the delegate method, but the original image is not returned. This is an issue if, for example, we call RSKImageCropper from

- (void)imagePickerController:(UIImagePickerController *)imagePicker didFinishPickingMediaWithInfo:(NSDictionary *)info

Unless we save the original image into a property at this point, we lose it. It would be a handy option to return the ori

[2015-12-02 11:53] ruslanskorb commented on #85
For this purpose you can use the `originalImage` property of `RSKImageCropViewController` which is available in each method of `RSKImageCropViewControllerDelegate`.

[2015-12-02 11:53] #85 closed

[2015-12-23 22:13] kevinvanderlugt commented on #84
:+1:  If I was to work on a PR for this feature, would you be interested in adding this as an enhancement?

[2015-12-24 06:09] ruslanskorb commented on #84
Hi @kevinvanderlugt! Yes, I would.

[2016-01-05 04:03] pacificanfog0 opened #88 "Custom Image Cropper"
Hello, I am trying to implement a UIImagePicker with custom cropper. I have searched for a similar error and the answer was "the imageCropViewControllerCustomMaskPath wasn't implemented", but I have implemented mine, so I'm not sure what's the issue here. Any help would be appreciated. Thanks in advance.

    //UIImagePickerControllerDelegate
    func imagePickerController(picker: UIImagePickerCon

[2016-01-05 04:59] ruslanskorb commented on #88
Hi @pacificanfog0,
You are missing the following code: `imageCropVC.dataSource = self`
Just add it and the error should disappear.

[2016-01-05 04:59] #88 closed

[2016-01-07 13:55] JayMehta711 opened #89 "Can we show cropping image with blur background of image parts?"
I want to create cropping image view like whats up ? so can you help me for same.

[2016-01-20 10:46] m1entus opened #91 "rotationAngle are not settable"
Could you make readwrite rotationAngle? I would like to reset angle during cropping, thanks.

[2016-01-28 08:20] ruslanskorb commented on #91
Hi @m1entus,

I'm sorry to be late with the reply.

I plan to add the method `setRotationAngle:` to the category `RSKImageCropViewControllerProtectedMethods`. Will it solve your problem?

[2016-01-28 08:35] m1entus commented on #91
Temporary by using Private extension for setter

[2016-01-28 09:10] ruslanskorb commented on #89
Hi @JayMehta711,

I think that there is no easy way to do it.

One way is as follows:
1. Add `UIVisualEffectView` with `UIBlurEffect` to the image scroll view.
2. Show it when the user does not drag / scale / rotate the original image, or hide otherwise.
3. Add preview image view that corresponds to your mask above the image scroll view.
4. Crop the original image when the user no longer drag / sc

[2016-01-28 09:10] #89 closed

[2016-01-28 09:11] ruslanskorb commented on #91
I assume that the answer is "yes" :-]

[2016-01-29 12:55] #84 closed

[2016-01-29 12:55] #91 closed

[2016-02-02 15:17] ale0xB opened #94 "Can't import RSKImageScrollView"
With last 1.5.0 update my compilation fails when installing the library using Cocoapods, complaining it can't find the file.

I am using RSKimageScrollView (amongst others) in my code, but noticed in the last update only a few headers were exposed:

`  s.public_header_files = [
    'RSKImageCropper/RSKImageCropper.h',
    'RSKImageCropper/RSKImageCropViewController.h',
    'RSKImageCropper/RSKImag

[2016-02-04 06:49] #94 closed

[2016-02-09 16:49] WedgeSparda opened #96 "Problem with CustomMaskRect"
Hi, first of all, thanks for this amazing library :)

I'm trying to use a custom size rect to crop and image, so I'm using this:

[code]

Then, I implemented the delegate and data source methods like this

[code]

And, on my console (texting with an iPhone 6S) I'm getting this:

2016-02-09 17:36:28.705 HorseWare[716:140715] MASK WIDTH: 375.000000
2016-02-09 17:36:28.705 HorseWare[716:140715] MASK

[2016-02-09 16:52] #96 closed

[2016-02-09 17:31] WedgeSparda commented on #96
Sorry for the issue, it was my mistake all along.

[2016-02-11 10:38] jquiambao opened #97 "How to adjust diameter of the circle?"
I've looked at all the properties in `RSKImageCropViewController` and can't find one that would adjust the diameter. Is this something available at the moment?

Ideally, it should adjust the size and maintain its center position on the screen. Thanks!

[2016-02-12 01:41] jquiambao commented on #97
After RTFM, I realized that I need to use `RSKImageCropViewControllerDataSource` and set cropMode to `RSKImageCropModeCustom`. Then create my path manually.

I wish there was a way to just use `RSKImageCropModeCircle` and set a diameter. I'll give it a shot and submit a pull request.

[2016-02-12 02:03] ruslanskorb commented on #97
There are two ways to achieve this.
1. Custom mask path `RSKImageCropModeCustom`.
2. Adjusting the properties `portraitCircleMaskRectInnerEdgeInset` and `landscapeCircleMaskRectInnerEdgeInset`.

[2016-02-12 02:03] #97 closed

[2016-02-12 02:07] jquiambao commented on #97
@ruslanskorb `portraitCircleMaskRectInnerEdgeInset` is what I was looking for! thanks!

[2016-02-17 08:03] mayur43s opened #99 "WhatsApp like image cropper."
That's a very good control. Thanks for that.

**Improvements:** We can use this feature to implement WhatsApp like profile picture picker.

[2016-02-17 08:05] ruslanskorb commented on #99
@mayur43s You may be interested in #89.

[2016-02-17 09:57] mayur43s commented on #99
@ruslanskorb Will you be implementing that in next go?

[2016-02-17 10:12] ruslanskorb commented on #99
I did not plan to do so in the near future. But you can do it yourself in the subclass of `RSKImageCropViewController`.

[2016-02-21 10:06] #99 closed

[2016-02-26 08:43] ferz222 opened #100 "Подскажите, как мне ограничить минимальный размер порезанного изображения?"
Привет, мне в проекте необходимо, чтобы порезанные изображения были не менее 450x450. Как мне это можно сделать, очень надо?

[2016-02-28 07:48] ruslanskorb commented on #100
Hi @ferz222,
I think [that's](https://github.com/ruslanskorb/RSKImageCropper/issues/52) what you need.

[2016-02-28 08:16] ferz222 commented on #100
Thank you, I already is found and made.

[2016-02-28 08:16] #100 closed

[2016-03-04 15:14] pjebs opened #101 "Pure Circle"
Since the original image is usually a rectangle, sometimes if the user zooms out too much, the original image runs out of 'image' on the sides.

Hence the resultant cropped image is also a rectangle rather than a square.

How can I prevent the user from zooming out too much to force the resultant image to be a square?

[2016-03-04 15:19] jquiambao commented on #101
I think this might be the property you're looking for:

`[RSKImageCropViewController avoidEmptySpaceAroundImage]`

Just set that to YES,

[2016-03-05 01:56] #101 closed

[2016-03-08 17:40] gmogames opened #102 "Image cannot be moved with Custom Rect and avoidEmptySpaceAroundImage=YES"
Hello there!

I'm using RSKImageCropper on a project and I noticed that when I use a custom rect mask with avoidEmptySpaceAroundImage=YES, I cannot move the image until I try to zoom in or out. After zooming out/in then the image can be moved correctly even though it's the same size as when loaded.

Example: http://valeconsulta.com.br/cropper.gif

My Code:
[code]

[2016-03-08 18:51] ruslanskorb commented on #102
Hi @gmogames!
I have checked your test case using my photos. But everything works as expected. Can you provide an example project with the photo you use?
Thanks!

[2016-03-08 19:26] gmogames commented on #102
Hi @ruslanskorb ,

I separated the part of the code from my original project. Even though there is a slight difference (the image starts real big), you can see the problem by trying several photos and panning.

PS: Thanks for the help

[CropperExample.zip](https://github.com/ruslanskorb/RSKImageCropper/files/163804/CropperExample.zip)

[2016-03-09 16:53] genius50 opened #103 "How to force cropping and avoid taking all the Image !"
Hello there !

How to prevent the user taking all the image and force square cropping ?

`imageCropVC = RSKImageCropViewController(image: image, cropMode: RSKImageCropMode.Square)`

![img_3582](https://cloud.githubusercontent.com/assets/11290656/13643159/c9b1d404-e61f-11e5-992e-c12707b1bb7c.jpg)

[2016-03-09 19:22] ruslanskorb commented on #102
You have specified an incorrect movement rect.
I think in your case you can use `maskRect` as `movementRect` and everything will work as it should.

[code]

[2016-03-09 19:22] #102 closed

[2016-03-09 19:26] ruslanskorb commented on #103
Hi @genius50!

Try to set the property `avoidEmptySpaceAroundImage` of `imageCropVC` to `true`.

[2016-03-09 19:30] gmogames commented on #102
Weird, It does fix the problem on the project I put up for you, but doing the change on my project, which is the exact same code and files, it doesn't work :( I'll keep digging, thanks for your help!

[2016-03-09 20:31] #103 closed

[2016-03-09 20:31] genius50 commented on #103
Works perfectly, thanks

[2016-03-09 20:46] gmogames commented on #102
@ruslanskorb I've been debugging this, and in the project that works, the properties of RSKImageScrollView is:

```<RSKImageScrollView: 0x7ffd7b8cea00; baseClass = UIScrollView; frame = (10 10; 355 607); gestureRecognizers = <NSArray: 0x7ffd7de84e20>; layer = <CALayer: 0x7ffd7de6bd10>; contentOffset: {126, 0}; contentSize: {607, 607}>```

and for the project that doesn't work is:

```<RSKImageScro

[2016-03-09 21:47] gmogames commented on #102
Nevermind. I had another lib I was using that had a UIScrollview category that was hijacking the setContentSize method and interferring with your lib. Took me a long time to find it.

Thanks for all your help!

[2016-03-18 11:09] marujun opened #104 "avoidEmptySpaceAroundImage=YES Not work when Custom Rect and rotationEnabled"
My Code:

[code]

[2016-03-18 11:23] ruslanskorb commented on #104
First of all you should know that if you want to support the rotation when `cropMode` is `RSKImageCropModeCustom` you must implement the method `imageCropViewControllerCustomMovementRect:`.
Your current implementation is not correct for your case.
You should try to implement something like [this](https://github.com/ruslanskorb/RSKImageCropper/blob/master/RSKImageCropper/RSKImageCropViewController.

[2016-03-18 11:23] #104 closed

[2016-03-18 11:32] ruslanskorb commented on #104
The movement rect coincides with the mask rect only if the image is not rotated - [README](https://github.com/ruslanskorb/RSKImageCropper/blob/master/README.md#datasource).

[2016-03-19 01:18] marujun commented on #104
thanks!

[2016-04-15 09:24] NikKovV opened #105 "Запрещать нажатие на кнопку "Выбрать""
Запрещать нажатие на кнопку "Выбрать" после единичного нажатия.

Ситуация сложилась так, что устройство не успевает среагировать и пользователь нажимает кнопку "Выбрать" два раза, в итоге получается
, что код работает два раза.

By the way, i used
- (void)imageCropViewController:(RSKImageCropViewController *)controller willCropImage:(UIImage *)originalImage {
    self.imageCropVC.chooseButton.enab

[2016-04-18 09:16] ruslanskorb commented on #105
Если значение свойства `applyMaskToCroppedImage` установлено в `YES`, я рекомендую во время кропа фотографии показывать индикатор активности, который будет блокировать любые нажатия на экран. Для этой цели вы можете использовать, к примеру,  [MBProgressHUD](https://github.com/jdg/MBProgressHUD) в связке с методами `imageCropViewController:willCropImage:` и `imageCropViewController:didCropImage:usi

[2016-04-18 09:16] #105 closed

[2016-04-20 11:13] NikKovV opened #106 "Set minimum zoom scale"
Is it allowed to set minimum zoom scale? <question>

[2016-04-23 17:07] ruslanskorb commented on #106
I think [that's](https://github.com/ruslanskorb/RSKImageCropper/issues/52) what you need.

[2016-04-23 17:07] #106 closed

[2016-04-27 22:32] peterdk opened #107 "Custom rect crop fails when enabling rotation"
I tried to crop a image with a custom rect as crop mask, but when enabling rotation, the result image is cropped in a weird way.
I read that the `imageCropViewControllerCustomMovementRect` method needs to be returning something else then the `maskRect`, but I can't figure out what I need to do. Just using the code from the square crop mode doesn't do the trick.

I would assume that a rectangular c

[2016-05-15 20:17] thedavejay opened #108 "Unable to set min zoom"
Hi,

Is there a way to set the minimum zoom so that the image will always have to be the width of the screen?

Thanks,
David

[2016-05-24 01:08] geekyfox90 opened #109 "framework not found RSKImageCropper for architecture arm64"
Everything is working fine with the Framework.

When I run Test it showing this error ! is that normal !? I can't run my tests

[2016-05-24 01:13] #109 closed

[2016-05-24 01:13] geekyfox90 commented on #109
it works fine, an error from my behind

[2016-08-04 21:30] pedro380085 opened #110 "Control buttons doesn't appear (Choose, Cancel)"
Hi, I've implemented this library recently and it works fine on my device.

But a user sent a video demonstrating that none of the control buttons appear, someone has a clue of what it might be?

![screen shot 2016-08-04 at 18 29 03](https://cloud.githubusercontent.com/assets/1212753/17418935/5c2f7302-5a71-11e6-86d9-d82ed8f83c69.png)

[2016-08-04 21:41] pedro380085 commented on #110
@ruslanskorb Do you know what it might be?

[2016-08-05 04:02] ruslanskorb commented on #110
@pedro380085 Hi Pedro! First of all, I can suggest you to check your implementation of `updateViewConstraints` method.

[2016-08-06 13:17] sezertunca opened #111 "Rectangle Crop Mode"
Could you please add rectangle mode option? 800 x 600?

[2016-08-06 13:25] #111 closed

[2016-08-06 13:26] sezertunca commented on #111
Just saw the .Custom mode.

[2016-08-13 06:14] ruslanskorb commented on #110
@pedro380085 The problem still exists?

[2016-08-13 06:19] ruslanskorb commented on #108
https://github.com/ruslanskorb/RSKImageCropper/issues/52

[2016-08-22 08:18] #110 closed

[2016-08-22 13:05] pedro380085 commented on #110
I've not been able to solve it yet, I believe this user had some accessibility tools enabled, such as dynamic text and zoom out.

[2016-08-22 16:24] ruslanskorb commented on #110
@pedro380085 If you can share a part of your code that configures `RSKImageCropViewController` I can try to help you. Email me at ruslan.skorb@gmail.com

[2016-08-26 00:36] ghouse1 opened #112 "Selecting multiple images for cropping"
Is there a way to selecting multiple images, Crop all selected images at once?

[2016-08-26 04:20] ruslanskorb commented on #112
No, `RSKImageCropper` does not support cropping multiple images at once.

[2016-08-26 04:20] #112 closed

[2016-08-26 07:31] Mercidez opened #113 "Cancle Button does not work for swift"

[2016-08-26 10:18] ruslanskorb commented on #113
@Mercidez Can you provide a sample project with your problem?

[2016-08-30 16:47] brod-ie opened #114 "Thin white border added to cropped image"
I've noticed the cropper is adding a thin white border around the edges of masked photos, here's my code:

    // MARK: Cropper Data Source

    func imageCropViewControllerCustomMaskRect(controller: RSKImageCropViewController) -> CGRect {
        let maskSize = CGSizeMake(225, 400)
        let viewWidth: CGFloat = CGRectGetWidth(controller.view.frame)
        let viewHeight: CGFloat = CGRectGetHe

[2016-08-30 17:35] ruslanskorb commented on #114
@brod-ie Can you show your configuration of `RSKImageCropViewController` instance?

[2016-08-30 19:27] brod-ie commented on #114
It's:
[code]

[2016-08-31 05:14] ruslanskorb commented on #114
Everything about `RSKImageCropViewController` looks good to me.

I created a [test project](https://dl.dropboxusercontent.com/u/89891480/brod-ie.zip) with your code, but did not see the problem you described.

Please look at it. Maybe it will help to resolve your problem.

p.s. Also I can suggest to check the frame of the image view with the cropped image.

[2016-08-31 05:15] ruslanskorb commented on #113
It works as expected in my Swift code.

[2016-08-31 05:15] #113 closed

[2016-08-31 12:27] brod-ie commented on #114
Thanks for your help.

Setting `imageCropVC.applyMaskToCroppedImage` to false seems to of fixed the issue?

[2016-08-31 12:30] ruslanskorb commented on #114
It should work even when `applyMaskToCroppedImage` is set to `true`.

[2016-09-01 05:38] ruslanskorb commented on #114
@brod-ie Can you try to crop your image in the test project I provided above? Maybe the problem is  in it.

[2016-09-02 13:28] beseder42 opened #115 "Swift 3.0 Support"
Will you update the code to Swift 3.0 soon?

[2016-09-02 13:32] #115 closed

[2016-09-05 07:07] ruslanskorb commented on #114
@brod-ie Any news on this?

[2016-09-05 09:11] brod-ie commented on #114
I haven't investigated any further beyond confirming disabling 'applyMaskToCroppedImage' fixed the issue (on annual leave, will pick it up when I'm back in the office)

[2016-09-16 20:38] cbrandsma-cs opened #116 "XCode 8 GM: Umbrella header not found"
I've installed RSKImageCropper via CocoaPods 1.1.0.rc.2

.../Pods/RSKImageCropper/RSKImageCropper/module.modulemap:2:21: Umbrella header 'RSKImageCropper.h' not found

My main project is using Swift 2.3

[2016-09-16 22:32] cbrandsma-cs commented on #116
Turns out this was more of an issue with Cocoa pods.  I deleted my pods folder and reinstalled.  Now it works.  Sorry for the inconvenience.

[2016-09-16 22:32] #116 closed

[2016-09-20 14:34] magrinj opened #117 "Support iCloud pictures ?"
Hello, is this library supporting picture coming from iCloud ? I use this library from `react-native-image-crop-picker` and the iCloud pictures show a black screen during the crop

[2016-09-20 16:05] ruslanskorb commented on #117
Hi @magrinj,

Personally, I have not used `RSKImageCropper` in conjunction with iCloud. However, in theory, it should work without any problems.

Can you log the image to the console and share result with us?

[2016-09-21 13:49] NiteshKhandal opened #118 "can't use RSKImageCropper in my swift code"
can you just create a new project for me where i call RSKImageCropViewController in my ViewController.swift file and get cropped Circle image.
It is very urgent for me , and i like the functionality of this project so i just want to use it.

please do it and give me as soon as possible.

[2016-09-21 18:57] ruslanskorb commented on #118
@NiteshKhandal
[RSKImageCropperWithSwiftAndCocoapods](https://dl.dropboxusercontent.com/u/89891480/RSKImageCropperWithSwiftAndCocoapods.zip)
[RSKImageCropperWithSwiftCocoapodsAndModules](https://dl.dropboxusercontent.com/u/89891480/RSKImageCropperWithSwiftCocoapodsAndModules.zip)

[2016-09-21 18:57] #118 closed

[2016-09-22 07:43] magrinj commented on #117
Hi @ruslanskorb,

thanks for your answer!

The current logs are:

[code]

I'm going to log picture in the library

[2016-09-22 07:51] magrinj commented on #117
The picture is nil, so I think the problem didn't come from your library but from the one that select the picture: https://github.com/questbeat/QBImagePicker

<img width="309" alt="screen shot 2016-09-22 at 9 49 17 am" src="https://cloud.githubusercontent.com/assets/3551795/18740418/daf5857e-80a9-11e6-9877-c18236b84971.png">

I'm going to look in this other library to try to solve this issue

[2016-09-22 10:14] NiteshKhandal commented on #118
thanx to guid

but now i have another issue.
i have created an UIButton on class CropViewController: RSKImageCropViewController and i want to crop an image on that button action. so can i call [self cropImage]; function in my CropViewController to crop image.

please , if you guid me .....
Regards
Nites Khandal

[2016-09-22 10:59] ruslanskorb commented on #118
@NiteshKhandal Yes, you can. Just import `RSKImageCropViewController+Protected.h` into your class and call `[self cropImage]`.

p.s. Please ask your other usage questions on [Stack Overflow](http://stackoverflow.com/questions/ask).

Cheers!

[2016-09-22 11:07] ruslanskorb commented on #117
Looks like `QBImagePicker` can't load an image from the source.

As the problem is not related to `RSKImageCropper` I have decided to close the issue.

Good luck in solving your problem!

[2016-09-22 11:07] #117 closed

[2016-09-22 11:15] ruslanskorb commented on #114
@brod-ie I will close the issue for now. If the problem still persists and you have any additional information feel free to reopen it.

[2016-09-22 11:15] #114 closed

[2016-09-22 11:20] NiteshKhandal commented on #118
ok done and from the deep of my heart , thank you sir......

[2016-10-17 02:06] markst opened #119 "Make navigation bar hidden optional"

[2016-10-17 04:24] ruslanskorb commented on #119
You can create a subclass of `RSKImageCropViewController` and override the method `viewWillAppear` to make navigation bar visible.

By default, we always want to hide the status bar in `RSKImageCropViewController` (#48).

[2016-10-17 04:24] #119 closed

[2016-10-20 14:14] amineghabi opened #120 "How to use this library with Swift ?"

[2016-10-20 14:18] ruslanskorb commented on #120
[RSKImageCropperWithSwiftAndCocoapods](https://dl.dropboxusercontent.com/u/89891480/RSKImageCropperWithSwiftAndCocoapods.zip)
[RSKImageCropperWithSwiftCocoapodsAndModules](https://dl.dropboxusercontent.com/u/89891480/RSKImageCropperWithSwiftCocoapodsAndModules.zip)

[2016-10-20 14:18] #120 closed

[2016-11-02 08:54] abellee commented on #120
@ruslanskorb then how to use?

[2016-11-03 11:37] fvvliet commented on #107
@peterdk : a pity no one replied, I'm also interested in an answer... Where you able to solve this in the mean time ?

[2016-11-03 14:09] umito commented on #107
@fvvliet we disabled rotation for now. So not really a solution.

[2016-11-04 13:57] fvvliet commented on #107
This seems to work for me...

- (CGRect)imageCropViewControllerCustomMovementRect:(RSKImageCropViewController *)controller
{
    // If the image is not rotated, then the movement rect coincides with the mask rect.

    CGRect rect = controller.maskRect;
    rect.origin.x -= 50;
    rect.origin.y -= 50;
    rect.size.width += 100;
    rect.size.height += 100;
    return rect;
}

[2016-11-04 14:04] fvvliet commented on #107
This seems to work for me...

// Returns a custom rect in which the image can be moved.
- (CGRect)imageCropViewControllerCustomMovementRect:(RSKImageCropViewController *)controller
{
    // If the image is not rotated, then the movement rect coincides with the mask rect.

    CGRect rect = controller.maskRect;
    if (controller.rotationAngle != 0) {
        rect.origin.x -= 50;
        rect.origi

[2016-11-05 17:53] rajvinders commented on #72
I am facing this issue in swift 3.0.

[2016-11-30 11:50] sumitmagdum opened #122 "Undefined symbols for architecture armv7: "_OBJC_CLASS_$_RSKImageCropViewController", referenced from: objc-class-ref in DetailsViewController.o"

[2016-11-30 15:19] ruslanskorb commented on #122
@sumitmagdum Can you provide more information about your problem?

[2016-12-01 05:40] ruslanskorb commented on #122
I guess that the problem in your project settings - http://stackoverflow.com/a/6429568/2134682.

Will close the issue for now. If the problem is not related to your project configuration feel free to reopen it.

[2016-12-01 05:40] #122 closed

[2016-12-01 15:07] timjoh92 opened #124 "Buttons doesn't work"
Cancel or Choose buttons doesn't work in Swift 3.

[2016-12-01 19:49] #124 closed

[2016-12-08 03:37] PieterLimburg opened #125 "Possible to get a white background?"
Hi Ruslan,

Thanks for creating this great library! Is it possible to change the background color from black to white? Currently I'm using the circle crop method and would love to have the background to be white.

Thanks again,

Pieter

[2016-12-08 05:26] ruslanskorb commented on #125
Hi Pieter,

You can change the background color just before presenting `RSKImageCropViewController`.

[code]

Or you can create a subclass of `RSKImageCropViewController` and override the method `viewDidLoad`.

[code]

Cheers,
Ruslan

[2016-12-08 12:31] PieterLimburg commented on #125
Hi Ruslan,

Thank you so much for the response. I'm actually trying to change the
background color of the cropped jpg to white. I'm using the circle crop
function which leaves a black square around the circle. After that I'm
processing the jpg and need the background to be white.

Is that at all possible?

Thanks again for your advice.

Best,

Pieter

On Thu, Dec 8, 2016 at 00:26 Ruslan Skorb <not

[2016-12-08 17:17] ruslanskorb commented on #125
You can set the value of the property `applyMaskToCroppedImage` of `RSKImageCropViewController` to `true` and redraw the cropped image with the white background.

[2016-12-09 02:39] PieterLimburg commented on #125
Thanks again. I had already found the "appyMaskToCroppedImage" and set it
to true. But don't know how to redraw the cropped image with the white
background (currently it's black). Could really appreciate your help!

2016-12-08 12:17 GMT-05:00 Ruslan Skorb <notifications@github.com>:

[2016-12-09 16:19] ruslanskorb commented on #125
I can recommend you to read [this](https://developer.apple.com/library/content/documentation/2DDrawing/Conceptual/DrawingPrintingiOS/HandlingImages/Images.html) guideline. It should help you.

Cheers,
Ruslan

[2016-12-09 16:19] #125 closed

[2016-12-13 05:56] pjebs opened #127 "Label Text"
It would be nice if we could access the text labels and change it: `Move and Scale` etc.

[2016-12-13 16:54] ruslanskorb commented on #127
@pjebs The `Move and Scale` label is already exposed to the public and you can customize it as you wish.

[2016-12-13 16:54] #127 closed

[2016-12-16 13:04] nickoffff opened #128 "Wrong cropping rect for custom mask rect"
I am using these two functions to define a custom mask:

[code]
The selection of the cropping area looks as follows:

![img_0115](https://cloud.githubusercontent.com/assets/18011494/21263565/cef2f5be-c397-11e6-8542-18cffedb0791.PNG)

However the image returned by the didCropImage function is as follows:

![img_0116](https://cloud.githubusercontent.com/assets/18011494/21263591/0488e3d2-c398-11e6-99

[2016-12-16 13:21] #128 closed

[2016-12-30 08:35] glary opened #130 "How to set `zoomScale` manually?"
I added a button on the View, click on the button to let the image 90 degrees.How do I make the Image fill CropRect when I clip button

[2017-01-08 06:32] glary commented on #130
????

[2017-01-08 07:49] ruslanskorb commented on #130
You can calculate a scale factor for the image to fill `cropRect` and call `setZoomScale:` method of `RSKImageCropViewController`.

[2017-01-09 07:25] #130 closed

[2017-01-19 21:58] dlipiz opened #131 "Not Able to retrieve file path"
Hey, Im using your library in a project that I'm working on and I need to get the full file path for the image. I noticed that the native UIImagePicker has a del method called FinishedPickingMedia that passes in a Dictionary, and in doing so am able to get the value for key. Is there any such delegate method in your lib? If so, would you mind adding this feature as its extremely when trying to sav

[2017-01-20 08:14] ruslanskorb commented on #131
Hi @dlipiz!

**RSKImageCropper** does not save the cropped image to the disk. So there is no a file path for it. The library returns `UIImage` object that can be converted to `NSData` using ` UIImagePNGRepresentation` function and saved to the disk using `writeToFile(_:atomically:)` method.

[code]

[2017-01-20 08:14] #131 closed

[2017-01-23 07:21] perlasivakrishna opened #132 "How to a add rectangular crop for image"
I would like to add rectangular crop for some images and circular for some images, So I implemented data source methods.

"imageCropViewControllerCustomMovementRect" in this method I'm passing mask size.
            maskSize = CGSize(width: 270, height: 180)
but in "imageCropViewControllerCustomMaskPath" method controller's maskrect is coming as zero's

Could u please help me How to achieve rectan

[2017-01-23 17:48] ruslanskorb commented on #132
Hi @perlasivakrishna,

You should return a custom `maskRect` from the method `imageCropViewControllerCustomMaskRect(_:)`.

[code]

[2017-01-23 17:48] #132 closed

[2017-01-24 04:01] perlasivakrishna commented on #132
Thanks for the reply, I did the same, But In this "imageCropViewControllerCustomMaskPath" method I'm getting mask rect as (0,0) even though I passed the maskrect in above delegate method, Any Im able to do it copying same in mask path method also for time being.
Thanks

[2017-01-24 05:53] ruslanskorb commented on #132
@perlasivakrishna Did you set the value of the `dataSource` property?

[2017-01-24 05:57] perlasivakrishna commented on #132
func PresentImageCropper(image:UIImage)
    {
       let cropcontroller:RSKImageCropViewController = RSKImageCropViewController(image: image)
        cropcontroller.cropMode = .custom
        cropcontroller.dataSource = self
        cropcontroller.delegate = self
        self.navigationController?.pushViewController(cropcontroller, animated: true)
    }
Here is how I loading Image Cropper

[2017-01-24 06:00] ruslanskorb commented on #132
The initialization looks correct. Can you provide a test project with your problem?

[2017-01-24 06:37] perlasivakrishna commented on #132
Data Source Methods:
  func rectforcontroller(_ controller: RSKImageCropViewController) ->CGRect
    {

        var maskSize:CGSize

        if (controller.isPortraitInterfaceOrientation()) {
            maskSize = CGSize(width: 270, height: 180)

        } else {
            maskSize = CGSize(width: 220, height: 220)
        }

        let viewWidth = controller.view.frame.width
        let viewH

[2017-01-24 08:10] ruslanskorb commented on #132
As I mentioned above you must return a custom `maskRect` from the method `imageCropViewControllerCustomMaskRect(_:)`. But, now, you are returning `controller.maskRect` (that is `zero` by default) instead of calculated `maskRect`.

[2017-01-24 08:44] perlasivakrishna commented on #132
func imageCropViewControllerCustomMaskRect(_ controller: RSKImageCropViewController) -> CGRect {
   return self.rectforcontroller(controller)
}
Is this the way I have do ?

[2017-01-24 08:48] ruslanskorb commented on #132
Yes.

[2017-02-03 09:28] chings228 opened #134 "imageCropViewControllerCustomMaskRect not called"
Hi ,

i init the controller as follows:

  RSKImageCropViewController *imageCropVC = [[RSKImageCropViewController alloc] initWithImage:image cropMode:RSKImageCropModeCustom];
imageCropVC.datasource = self

but i found it only calls imageCropViewControllerCustomMaskPath   and never calls imageCropViewControllerCustomMaskRect

anything i 'm missing during the initialization , thanks

[2017-02-03 15:53] ruslanskorb commented on #134
Hi @chings228,

Can you show your implementation of the data source methods?

[2017-02-06 08:42] ruslanskorb commented on #134
@chings228 I'll close the issue for now. Feel free to reopen it if the problem persists.

[2017-02-06 08:42] #134 closed

[2017-02-06 16:38] emreyasar opened #135 "MoveAndScale Label"
Hello,
How can I hide "Move and Scale" label from view ?
Thank you.

[2017-02-06 16:39] #135 closed

[2017-02-14 03:18] WilsonCP opened #136 "DidCropImage"
Sorry, let me correct my question.

I've implemented imageCropViewController function, but when i pass the croppedImage into my imageView, it puts the original image and not the cropped one. any help? Thanks.

[2017-02-14 05:53] #136 closed

[2017-02-16 12:05] perlasivakrishna commented on #52
How to set Min and Max Zoom in Swift ?

[2017-02-17 06:26] pravishanth opened #137 "Error: Argument Labels '(_: RSKImageCropMode:)' do not match any available overloads"
Hi,
Could someone please advice how I could resolve this error ? I'm trying to use this library in my swift code.

![rskimagecroppererror](https://cloud.githubusercontent.com/assets/5144335/23055543/72ad402e-f50c-11e6-8409-47312d831a75.jpeg)

[2017-02-17 12:25] ruslanskorb commented on #137
[code]

[2017-02-17 12:25] #137 closed

[2017-02-21 18:37] RamiAbouGhanem opened #138 "The moveAndScale label is not fully constrained or have the ability to wrap text."
The `moveAndScaleLabel` that is added to the `RSKImageCropViewController` only has a top and center constraint. It should also be constrained on its leading and trailing so that text can not run off the screen.

Also support for multiple lines of text would be beneficial.

[2017-02-23 01:37] laeroah opened #141 "Xcode 8.3 beta 2 / 3 compile error"
Compile fails in xcode8.3.
Pull request has been made to fix the problem.

[2017-02-25 17:21] Montrazul opened #142 "RSKImageCropper/CGGeometry+RSKImageCropper.h file not found"
I included RSKImageCropper using pod without any version.

`pod 'RSKImageCropper'`

since the error only occured since the last repo update I changed it to:

`pod 'RSKImageCropper', '~> 1.5.2'`

But still..... when I want to build my project the build fails with the error:

`RSKImageCropper/CGGeometry+RSKImageCropper.h file not found`

In The RSKImageCropper.h file.

[2017-02-26 17:39] ruslanskorb commented on #138
@RamiAbouGhanem Thanks for suggestion!

There is no need to add leading and trailing constraints at the moment. The default text of `moveAndScaleLabel` is perfectly placed in all available screens.

If you need to replace it with something else I can suggest you to create a subclass of `RSKImageCropViewController`, override the method `updateViewConstraints` and add necessary constraints. It will

[2017-02-26 17:39] #138 closed

[2017-02-26 17:41] ruslanskorb commented on #142
Please try `pod deintegrate` and `pod install` and tell me whether the problem is resolved.

[2017-02-26 17:44] ruslanskorb commented on #141
#139

[2017-02-27 17:06] #142 closed

[2017-02-28 10:42] Rahulgupta-cdnsol opened #143 "How to adjust Circle as per Image"
Hi,

I am having issue while using library.I have selected the default image in simulator but circle is not proper shown as it seems that it does not adjust automatically.Please let me know what needs to do to show the circle inside the image.Please refer attached screenshot.

Thanks,
Rahul Gupta
![simulator screen shot 28-feb-2017 4 10 03 pm](https://cloud.githubusercontent.com/assets/5418776/234

[2017-02-28 16:18] ruslanskorb commented on #143
Hi @Rahulgupta-cdnsol,

Just set the value of `avoidEmptySpaceAroundImage` property  to `true`.

[2017-03-04 09:10] #143 closed

[2017-03-07 13:45] benoistmartins commented on #120
Hey,
The link below went to 404 error, can you please provide it back again ? :)
Thanks

[2017-03-07 17:47] ruslanskorb commented on #120
@benoistmartins Done! :-]

[2017-03-16 09:46] jacks8x opened #144 "Customize RSKImageCropViewController Interface"
moveAndScaleLabel, cancelButton, chooseButton is readonly, how can I customize them, how can I hide them and add my own Button and Label
Thanks for your support!

[2017-03-17 08:39] ruslanskorb commented on #144
To hide `moveAndScaleLabel`, `cancelButton` and `chooseButton` you need to set their property `isHidden` to `true`.
To add your own buttons and labels you need to create them and add to the view like any other usual views using the method `addSubview` of `UIView`.

[2017-03-17 08:39] #144 closed

[2017-03-28 03:38] b1nhle commented on #141
There is still a bug as description above with XCode 8.3 final version

[2017-03-28 08:03] #141 closed

[2017-03-28 09:00] khuong291 opened #145 "Error on Xcode 8.3 Swift 3.1"
I get this error when update to Xcode 8.3.

![screen shot 2017-03-28 at 3 59 24 pm](https://cloud.githubusercontent.com/assets/11523438/24397173/a92a3bde-13cf-11e7-89cb-8c0996c9ed7b.png)

[2017-03-28 09:01] ruslanskorb commented on #145
What version of `RSKImageCropper` do you use?

[2017-03-28 09:02] khuong291 commented on #145
@ruslanskorb I use version 1.6.0

[2017-03-28 09:03] ruslanskorb commented on #145
It is fixed in the version [1.6.1](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/1.6.1).

[2017-03-28 09:03] #145 closed

[2017-03-28 09:06] khuong291 commented on #145
Thank you 👍

[2017-03-29 21:02] MonFig opened #146 "Redefinition of module 'RSKImageCropper'"
[code]

![image](https://cloud.githubusercontent.com/assets/16597492/24476284/4bc594a2-1505-11e7-9086-9d8bd073ce2a.png)

I have updated the latest version of the `RSKImageCropper`, which is 1.6.1, but the problem remains.

[code]

[2017-03-29 21:12] dimmdesign commented on #146
@MonFig — Removing the pod and reinstalling it worked for me.

[2017-03-29 21:19] MonFig commented on #146
@dimmdesign  I tried but failed too

[2017-03-29 21:41] MonFig commented on #146
Solved.Should update my npm package.

[2017-03-29 21:41] #146 closed

[2017-03-30 04:51] cwRichardKim commented on #146
@MonFig how did you solve this? I deleted my pods file but had the same issue. it looks like you're also using react-native-image-crop-picker?

[2017-03-30 15:27] arturjaworski opened #147 "Custom modulemap causes error with Xcode 8.3"
Same error as described here:

1. http://www.openradar.me/30194818
2. https://github.com/ruslanskorb/RSDayFlow/issues/122

[2017-03-30 15:29] #147 closed

[2017-03-30 17:15] wootwoot1234 commented on #146
@MonFig what did you do to solve this issue?

[2017-03-30 17:30] cwRichardKim commented on #146
@wootwoot1234 I updated from react-native .29 to .42 and then installed the latest version of react-native-image-cropper (which contains a fix). bug is due to new xcode and ios 10.3

[2017-03-30 17:32] wootwoot1234 commented on #146
Dang!  I don't want to upgrade my React Native....  :(

[2017-04-01 09:56] MonFig commented on #146
@wootwoot1234 I think run `pod update` then `npm update` might help.

[2017-04-01 12:58] wootwoot1234 commented on #146
@MonFig thanks but I ended up updating to react native 0.42 which I've been working on now for 2 days.  :(  I think I'm almost there.

[2017-04-06 21:05] FrankTravieso1 opened #149 "Crop without use the viewController"
Hi,

How can I crop an image using a custom mask path without showing the view controller?
I'm using Swift 3.0

If you could help me as fast as possible i would be very grateful. I'm in full development of a project.

Thanks.

[2017-04-07 10:16] ruslanskorb commented on #149
Hi @FrankTravieso1,

RSKImageCropper does not provide this functionality.

But, maybe, [this method](https://github.com/ruslanskorb/RSKImageCropper/blob/master/RSKImageCropper/RSKImageCropViewController.m#L858) will help you understand how to achieve your goal.

Cheers!

[2017-04-07 10:16] #149 closed

[2017-04-07 12:02] FrankTravieso1 commented on #149
really thank you, I will try to code that method in swift

[2017-04-07 16:36] FrankTravieso1 commented on #149
It works to me, thank you from the depth of my heart

[2017-04-09 19:08] Bat-Orshikh opened #150 "Creating an image format with an unknown type is an error"
Hi. I'm using your pod in my project and I'm trying to crop image with custom rect.
But I don't know why I'm getting that error. Please help me!
[code]

[2017-04-11 15:11] ruslanskorb commented on #150
Looks like your error is not related to **RSKImageCropper**. Please ask about it on [stackoverflow](http://stackoverflow.com).

[2017-04-11 15:11] #150 closed

[2017-04-11 15:17] Bat-Orshikh commented on #150
Thanks for your replay. Finally I found my mistake. My mistake was UIImagePickerControllerEditedImage variable. This should be UIImagePickerControllerOriginalImage. So I'm happy to implement your great repo. Tnx bro.!

[2017-04-14 06:07] lis186 commented on #72
@rajvinders
You have to import RSKImageCrop by adding the code to your Project-Bridging-Header.h

`#import "RSKImageCropper/RSKImageCropper.h"`

[2017-04-18 19:01] edenman opened #151 "Using .Circle but getting non-circular result in didCropImage"
Here's how I'm creating my crop controller:
[code]
It doesn't happen often, but occasionally I'll see a crash where the `croppedImage` passed into `didCropImage` has width != height.  I added some additional logging to try and figure out what's happening: the latest occurence, the original image had the same dimensions as the croppedImage (w=823.0, h=960.0).

Is there any reason this would happen?

[2017-04-18 20:44] Konshin commented on #107
this fixes that https://github.com/ruslanskorb/RSKImageCropper/pull/152

[2017-04-19 06:00] ruslanskorb commented on #151
@edenman Did you catch this crash manually while debugging? Actually, I see no reason why it can happen. It would be nice if you could provide any additional information or a sample project with this problem.

[2017-04-19 15:55] gutierrezralph opened #153 "Bindable property"
**Question**
Can i use this on Xamarin project?

[2017-04-19 16:51] edenman commented on #151
Nope, this was a crash in the wild, uploaded to Sentry (our crash reporting tool).  I've never been able to repro it :/

[2017-04-19 19:06] ruslanskorb commented on #151
@edenman Can you share one of the crash reports? Or part of it?

[2017-04-19 19:14] ruslanskorb commented on #153
You can try to use [sharpie](https://developer.xamarin.com/guides/cross-platform/macios/binding/objective-sharpie/examples/cocoapod/) to create the binding.

[2017-04-19 19:14] #153 closed

[2017-04-19 22:15] edenman commented on #151
Sorry, "crash" isn't the right word.  It's a non-fatal exception that I log to Sentry.  Here's the stack:

[code]
And the message:
[code]

It's happened to three users:
iPhone7,1 on iOS 10.2
iPhone7,2 on iOS 10.2.1
iPhone5S on iOS 9.3.2

[2017-04-20 05:58] ruslanskorb commented on #151
@edenman Thanks. One more thing. Can you share your method `imageCropViewController(_:didCropImage:usingCropRect:rotationAngle:)` implemented in `ChangeProfilePictureView`?

[2017-04-20 17:29] edenman commented on #151
[code]

[2017-04-20 18:42] ruslanskorb commented on #151
@edenman Do you have any swizzling code in your project?

[2017-04-20 20:02] edenman commented on #151
@ruslanskorb nope

[2017-04-20 20:05] ruslanskorb commented on #151
@edenman Can you include `cropRect` in your log message?

[2017-04-20 20:13] edenman commented on #151
@ruslanskorb willdo.  it'll probably be a couple weeks until I do another release, though.  I just finally updated to swift3 and I wanna make sure I get sufficient usage internally before release.  I'll update this thread next time it happens.  Thanks again!

[2017-04-20 20:19] ruslanskorb commented on #151
@edenman Thanks! I will wait for any information from you.
p.s. Is your app available in the App Store?

[2017-04-20 21:00] edenman commented on #151
@ruslanskorb yup: https://itunes.apple.com/us/app/recharge-luxury-hotels-unlocked/id999743644?mt=8

[2017-04-21 20:04] mommyme opened #154 "Carthage Issues"
Have you had a chance to check if this is building correctly wit Carthage lately? When I run 'carthage update' from the terminal, every other framework updates, but RSKImageCropper does not pull the latest info, and I get errors 'symbol(s) not found for architecture x86_64' when i compile. The errors are resolved when I simply remove RSKImageCropper from the cartfile and the app.

[2017-04-21 23:08] kndl commented on #154
I had this same problem and I managed to resolve it. The issue is that Carthage manages a bare repository within its cache directory, which it then checks out to the working directory inside your project at `Carthage/Checkouts`. That checkout process does not clean up old files that are no longer in the repository.

To fix it, you should be able to do `rm Carthage/Checkouts/RSKImageCropper/RSKImag

[2017-04-22 16:50] ISCHI opened #155 "Issue with Xcode 8.3.2 and Cocoapods"
Since I switched to Xcode 8.3.2, I get an error as soon as I use this lib with CocoaPods.

Xcode shows:
`Lexical or Preprocessor Issue Group
.../Pods/RSKImageCropper/RSKImageCropper/module.modulemap:1:18: Redefinition of module 'RSKImageCropper'`

Fix: I renamed the module map file "module.modulemap" to "RSKImageCropper.modulemap".

[2017-04-22 16:53] ruslanskorb commented on #155
This is fixed in the latest [release](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/1.6.1).

[2017-04-22 16:53] #155 closed

[2017-04-22 16:54] ruslanskorb commented on #154
@mommyme Have you solved the issue?

[2017-04-22 17:01] ISCHI commented on #155
Thanks! I forgot to update Cocoapods ... :)

[2017-04-29 19:09] CosmicYogi opened #157 "[Feature]Why not add functionality of image picker"
What if we can build a feature to also use it as a **UIImagePickerController**.
When a developer uses UIImagePickerController for taking image from gallery then he don't have any choice for cropping the image like what if we want only rectangular images.
This functionality can be added to this project so it would become like-
**Image Cropper + Image Picker**
could be used in both the ways.

I can

[2017-04-29 23:23] #154 closed

[2017-04-29 23:36] ruslanskorb commented on #157
There is no need to do it.
You can present `RSKImageCropViewController` after picking an image from `func imagePickerController(_, didFinishPickingMediaWithInfo:)` method of `UIImagePickerControllerDelegate`.

[2017-04-29 23:36] #157 closed

[2017-05-08 15:57] mommyme commented on #154
Was this a user bug or something that should possibly be handled within the Carthage process?

[2017-05-12 05:51] LQQZYY opened #159 "rewrite this lib by using Swift3.0"
Hi,
I'll rewrite this lib by using Swift 3.0, and my link is [LDPhotoCropper](https://github.com/LQQZYY/LDPhotoCropper).

According to your ideas, and change some methods to meet my needs.

If there is infringement, please contact me, and i'll delete it

Thanks

[2017-05-12 16:08] ruslanskorb commented on #159
**RSKImageCropper** is is available under the [MIT license](https://github.com/ruslanskorb/RSKImageCropper/blob/master/LICENSE). So, all you need is to meet its conditions.

[2017-05-12 16:08] #159 closed

[2017-05-12 16:11] ruslanskorb commented on #151
@edenman Is there any news?

[2017-05-12 16:23] edenman commented on #151
@ruslanskorb sorry, no.  I released the new version a week ago but nobody has hit the issue since then.  Will update if/when they do!

[2017-05-12 16:34] LQQZYY commented on #159
OK，thank you for reply me first!
I already add the MIT lience .And I rewrite this lib,just want to use it in swift objects,what's more I can all right learn it.
Thinks very much

[2017-05-12 16:37] ruslanskorb commented on #151
@edenman OK. Thanks!

I will close the issue for now. If/when anyone face this problem again and you will have more information feel free to reopen it.

[2017-05-12 16:41] ruslanskorb commented on #159
@LQQZYY You can also [use **RSKImageCropper** in Swift](https://github.com/ruslanskorb/RSKImageCropper/issues/120) projects. Like any other Swift library.

[2017-05-12 16:48] LQQZYY commented on #159
Yes,this can be used in swift.
So,I will use the original lib you writed!
And the lib l rewrited, I'll delete it later.
Thinks all the same!

[2017-05-14 20:43] edenman commented on #151
@ruslanskorb looks like i don't have "reopen" permission here, but the issue just happened in the wild again, so i have the extra info you requested:

[code]

[2017-05-17 17:33] lindseyvastola opened #160 "Unable to move or zoom image"
I have implemented this framework in my swift project and the image won't move  in the move and scale view.

[code]

[2017-05-18 03:47] ruslanskorb commented on #160
@lindseyvastola What size is your image?

[2017-05-20 10:39] ruslanskorb commented on #160
I assume that the size of your image is smaller than `cropRect.size`. That's why you can not move it and zoom it.
If this is not the case, feel free to reopen the issue.

[2017-05-20 10:39] #160 closed

[2017-05-20 11:33] ruslanskorb commented on #151
Hi @edenman,

Sorry for the delayed response.
What is the parent view controller of `imageCropViewController`?

[2017-05-22 17:40] edenman commented on #151
In the original code snippet, `self` is `ChangeProfilePictureView`, a custom subclass of `UIView`.
In [this snippet](https://github.com/ruslanskorb/RSKImageCropper/issues/151#issuecomment-295825512), `delegate` is `SettingsViewController` which is a `UIViewController`.

[2017-05-22 17:47] ruslanskorb commented on #151
@edenman Is `SettingsViewController` embedded in another view controller?

[2017-05-22 18:58] edenman commented on #151
@ruslanskorb yup.  The two hierarchies that contain a `ChangeProfilePictureView`:

  `RootViewController` -> `SignedOutContainerViewController` -> `SignUpSectionViewController` -> `SignUpViewController`.

  `RootViewController` -> `SignedInContainerViewController` -> `SettingsSectionViewController` -> `SettingsViewController`.

[2017-05-26 05:23] ikesyo opened #161 "1.6.2 is not pushed to CocoaPods trunk"

[2017-05-26 05:47] ruslanskorb commented on #161
Done. RSKImageCropper (1.6.2) successfully published.

[2017-05-26 05:47] #161 closed

[2017-06-06 23:50] pirusta opened #162 "Can't make it work with Xcode 8.3 / Swift 3.0"
Installed using CocoaPods:
pod 'RSKImageCropper'
also tried
pod 'RSKImageCropper', :git => 'https://github.com/ruslanskorb/RSKImageCropper.git'
I get no module named 'RSKImageCropper'
when doing
import RSKImageCropper

I did get it to work using tapz/RSKImageCropperSwift
pod 'RSKImageCropperSwift', `https://github.com/tapz/RSKImageCropper.git`
import RSKImageCropperSwift

But the "Cancel" and "Cro

[2017-06-07 00:25] #162 closed

[2017-06-14 10:42] shenguanjiejie opened #163 "RSKImageCropModeCircle not work!"
![simulator screen shot 2017 6 14 6 38 45](https://user-images.githubusercontent.com/9425605/27128389-de25f6c2-5130-11e7-9898-2bf852d49a6b.png)
![wx20170614-183940](https://user-images.githubusercontent.com/9425605/27128396-e205031e-5130-11e7-826a-c021a0f15dc3.png)

The croped image not round but square..why?

[2017-06-14 11:12] ruslanskorb commented on #163
You need to set `applyMaskToCroppedImage` to `true`.

[2017-06-14 11:26] shenguanjiejie commented on #163
Perfect! Thanks! 👍

[2017-06-14 11:39] #163 closed

[2017-06-19 10:00] itinance opened #164 "XCode-Error: "Repair target Build RSKImageCropper: invalid Team-ID""
On Both RSKImageCropper and QBImagePicker it is not possible anymore to create an Archive. We used this library in our project for many weeks and were always able to push releases to Testflight, but since some days the following error occur:

Building in Release-Mode works fine. Creating an Archive ands with this error.

The interesting part is, that out Team-ID is different. So I did a grep for t

[2017-06-19 18:03] ruslanskorb commented on #164
You need to ask @ivpusic to remove **DevelopmentTeam** from [react-native-image-crop-picker](https://github.com/ivpusic/react-native-image-crop-picker/search?utf8=✓&q=5WFBC66J2G&type=).

[2017-06-19 18:03] #164 closed

[2017-06-21 07:09] LQQZYY opened #165 "`RSKImageCropViewControllerDataSource` methods explanation"
When I use the custom CropMode , and use the dataSource method like this:
[code]

and , when I rotated a angle, i get a polygon result image, what i want is a rectangle image after rotated.

end I have a doubt, what the relation of the two methods? and which one can effect the crop rect ?

I have seen the result cropRect in the delegate method `imageCropViewController(_ controller: RSKImageCropVie

[2017-06-21 10:11] ruslanskorb commented on #165
`imageCropViewControllerCustomMaskPath(_:)` returns a custom path for the mask. It defines the shape that will be rendered.
`imageCropViewControllerCustomMaskRect(_:)` returns a custom rect for the mask. It affects the crop rect.

[2017-06-22 01:47] LQQZYY commented on #165
Thanks for reply!
In my test, it croped two times: The first time before rotated in the cropRect, and the second time after rotated in the cropRect. For this , it will be croped to a  polygon image. What I want is that: Like the photo edit in the iPhone's photo album, it can be rotated, and croped after rotated. Please tall me what should i do to get the same effect like that?
Thinks!

[2017-06-22 03:37] ruslanskorb commented on #165
If you want to support the rotation when `cropMode` is `RSKImageCropModeCustom` you must implement the method [`imageCropViewControllerCustomMovementRect(_:)`](https://github.com/ruslanskorb/RSKImageCropper/blob/master/RSKImageCropper/RSKImageCropViewController.h#L319).

I suppose that your question is related to #107. If so, you should [calculate](https://github.com/ruslanskorb/RSKImageCropper/bl

[2017-06-23 06:00] #165 closed

[2017-06-23 06:07] LQQZYY commented on #165
Maybe you'd better offer a demo for how to implement `imageCropViewControllerCustomMovementRect(_:)` when rotated, and how to calculate the rect for return.

Thanks!

[2017-06-23 06:17] ruslanskorb commented on #165
A square is a special case of a rectangle. You can see how to calculate a movement rect for it [here](https://github.com/ruslanskorb/RSKImageCropper/blob/master/RSKImageCropper/RSKImageCropViewController.m#L689-L746). For all other cases, the movement rect is calculated individually.

[2017-06-26 10:50] itinance commented on #164
Thank you very much for your help so quickly, @ruslanskorb!

[2017-06-29 18:40] edenman commented on #151
@ruslanskorb any more thoughts on this? It still happens periodically and I still can't figure out how to repro.

[2017-06-30 13:58] ruslanskorb commented on #151
@edenman It's hard to say without reproducing the problem. My only guess is that the reason for this may be a layout. I would ask you to collect any additional data, such as phone orientation, constraints, and all the others that may seem important to you.

[2017-07-01 12:59] topbestapps opened #166 "Ipad image not moving on touch"
i am trying this lib in iphone its working and when it is in ipad image is not moving on touch.

[2017-07-01 13:49] #166 closed

[2017-07-01 13:50] topbestapps commented on #166
After adding datasource in RSKImageCropViewController its wroking now in ipad.

[2017-07-02 04:57] dmcgloin opened #167 "Xcode 9 (beta 2) catches multiple calls to UI objects from non-main threads"
When loading RSKImageCropViewController in Xcode 9 with the new: Main Thread Checker enabled (see Diagnostics in Run-Debug scheme), I receive the following issues:

Main Thread Checker: UI API called on a background thread: -[UIScrollView zoomScale]
PID: 81566, TID: 8295061, Thread name: (none), Queue name: com.apple.root.default-qos, QoS: 21
Backtrace:
4   RSKImageCropper                     0x00

[2017-07-02 06:39] #167 closed

[2017-07-02 06:45] ruslanskorb commented on #167
@dmcgloin Thanks for reporting! Fixed in [1.6.3](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/1.6.3) 🎉

[2017-07-02 07:06] dmcgloin commented on #167
@ruslanskorb Nice! Confirmed fix in 1.6.3.

Now if only Google could fix same issue in their stuff as quick as you :)

[2017-07-02 08:51] ruslanskorb commented on #151
@edenman Also I'd like to ask you to try a new [1.6.3](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/1.6.3) version and let me know if something changes.

[2017-07-05 09:53] shilihuan opened #168 "can't get corrected image"
when i push to RSKImageCropViewController, it always log "[Generic] Creating an image format with an unknown type is an error" in DEBUG area,  then i can't get correct image in delegate of "imageCropViewController:(RSKImageCropViewController *)controller didCropImage:(UIImage *)croppedImage usingCropRect:(CGRect)cropRect "

[2017-07-05 15:29] ruslanskorb commented on #168
Probably, you are getting an incorrect image from `UIImagePickerController`. Please see #150.

[2017-07-05 15:29] #168 closed

[2017-07-06 02:10] shilihuan commented on #168
i set the cropRect is (128, 128), CustomMode, but in the return croppedImage delegate method, the image not is (128, 128), why?

[2017-07-06 02:17] shilihuan opened #169 "the croppedImage size is not my size which i have set cropRect"
i set the cropRect is (128, 128), CustomMode, but in the return croppedImage delegate method, the image not is (128, 128), why? it is much bigger than cropRect，- (void)imageCropViewController:(RSKImageCropViewController *)controller didCropImage:(UIImage *)croppedImage usingCropRect:(CGRect)cropRect` the cropRect is not my cropRect

[2017-07-06 02:25] ruslanskorb commented on #169
In custom mode you are providing `maskRect`. `cropRect` is calculated at run time [based on parameters of underlying `imageScrollView`](https://github.com/ruslanskorb/RSKImageCropper/blob/master/RSKImageCropper/RSKImageCropViewController.m#L388-L414).

[2017-07-06 02:25] #169 closed

[2017-07-06 02:32] shilihuan commented on #169
the maskSize which i provide  in datasource method is (128, 128), i don't understand why the image size is not equal to maskSize

[2017-07-11 21:47] abada opened #171 "Can second step (scale and move ) be ignored?"
Just crop image  ?

[2017-07-12 18:53] ruslanskorb commented on #171
No, it can not.
To crop an image without scaling and moving you can use an instance method `cropping(to:)` of `CGImage`.

[2017-07-12 18:53] #171 closed

[2017-07-12 20:12] abada commented on #171
@ruslanskorb thank you.

[2017-07-28 16:25] ruslanskorb commented on #151
@edenman Is there any news?

[2017-07-28 17:02] edenman commented on #151
Nope.  I released a new version of my app on 7/13 (with RSK 1.6.3) and the issue hasn't happened again since then.  Feel free to close this if you want.

[2017-07-28 18:10] ruslanskorb commented on #151
Thanks for the info! :thumbsup: Let's wait a little longer and close the task if the problem does not arise again.

[2017-08-04 09:52] slarkcoder opened #172 "How to update the displayed image?"
I call the displayImage method, this issues is OK, so, I think should provide a method to reload displayImage.

[2017-08-05 05:37] ruslanskorb commented on #172
To update the displayed image simply set `originalImage` again.

[2017-08-08 17:08] Ouadie opened #173 "How can I force French as a language?"

[2017-08-11 09:19] #172 closed

[2017-08-11 09:28] ruslanskorb commented on #173
You need to get access to the proper translations bundle, query that bundle for the translations and manually update the text in 'Cancel' and 'Choose' buttons and 'Move and Scale' label.

[This link](https://stackoverflow.com/questions/27879232/force-nslocalizedstring-to-use-a-specific-language-using-swift) can be useful to you.

[2017-08-11 09:28] #173 closed

[2017-08-11 09:28] ruslanskorb commented on #151
@edenman Has anything changed?

[2017-08-11 16:45] edenman commented on #151
Nope

[2017-08-16 14:37] ruslanskorb commented on #151
@edenman Okay, then let's close the issue. Thank you for all the information you provided!

[2017-08-16 14:37] #151 closed

[2017-09-04 08:53] SunXu231 commented on #107
When I call the camera, after taking pictures, click on "use photos", present cropperController, click "cancel", the camera interface is not responding. "Remake", "use photos", buttons are not responding, the program stuck

[2017-09-04 08:54] SunXu231 opened #174 "program stuck"
When I call the camera, after taking pictures, click on "use photos", present cropperController, click "cancel", the camera interface is not responding. "Remake", "use photos", buttons are not responding, the program stuck

[2017-09-04 09:24] ruslanskorb commented on #174
@SunXu231 Did you set `delegate` property of `RSKImageCropViewController`?

[2017-09-06 10:44] #174 closed

[2017-09-09 18:28] arcocg commented on #107
Hi, guys. I needed rotation+cropping in custom mode. So I made fast and dumb (I know) fix: instead of image rendering I used image drawing for this case. May be it'll be usefull for someone too. https://github.com/arcocg/RSKImageCropper/commit/17e77fa3839fe12dff95ceeb03c791ffaed91198

[2017-10-05 11:53] MehulSojitra16 opened #175 "Black image issue."
It return's black image if image captured using device camera.
I have tested it in iPhone6Plus, iPhone7Plus and in iPhone7.

[2017-10-05 11:58] ruslanskorb commented on #175
I have tested `RSKImageCropper` on iPhone 7 right now and everything is OK. Please, check your configuration.

[2017-10-05 12:18] MehulSojitra16 commented on #175
I am really sorry.
Here is one little bit mistake from me.
Actually its working fine in RSKImageCropper. but issue is in swift library(RSKImageCropperSwift).

[2017-10-05 12:18] #175 closed

[2017-10-07 15:22] clarencetwl opened #176 "Undefined symbols for architecture x86_64"
Hi Ruslan,

I can't seem to resolve this error. So far I have made sure to do the following:

- Add RSKImageCropper.framework to Linked frameworks and libraries
- Build Settings > Other Linker Flags > "RSKImageCropper" -framework

I'm sorry if this is a stupid question but I am a newbie to programming and I really don't know what to do for this problem.

Any help is really appreciated!

![screen s

[2017-10-08 07:56] clarencetwl commented on #176
Solved.

Problem: RSKImageCropViewController.m was deleted
Trigger: Installation of MobFox SDK
Solution: Reinstall pod

Thanks for viewing guys. Admin please close.

[2017-10-08 12:12] #176 closed

[2017-10-13 08:38] DarkByte3PG opened #177 "Include of non-modular header inside framework module errors"
Hello, I'm encountering these errors on Xcode 9 with Swift 4, RSKImageCropper v1.6.3 (I've even tried with 1.6.0, 1.6.1, 1.6.2)

![screen shot 2017-10-13 at 11 36 20](https://user-images.githubusercontent.com/16716552/31537429-c94587f2-b00a-11e7-98fb-31032133928a.png)

My CocoaPods version is 1.3.1 and the "allow include non-modular" flag doesn't do anything for me.

If you need more information,

[2017-10-13 13:14] ruslanskorb commented on #177
Hi @DarkByte3PG,

Try deintegrate and install **RSKImageCropper** again and let me know if the problem still persists.

[2017-10-13 13:17] DarkByte3PG commented on #177
It seems my Xcode installation had some issues, probably introduced by myself. I've reverted a couple of commits (after digging everything and everywhere), took it from there and now it's working fine.

Sorry for the mess! :)

[2017-10-13 13:18] #177 closed

[2017-10-30 11:04] Annabelle1024 opened #178 "Should update controls' layout for iphone X"
When using iphone X, the buttons' and circleMask's layout are not exactly right. I think you may need to update the layout.

[2017-10-31 17:43] ruslanskorb commented on #178
Hi @Annabelle1024!

Thanks for your thoughts about **RSKImageCropper**!

I think that there is no need to update the current layout. It looks good to me and it is similar to the layout of the photo cropper from the Contacts app.

If you need to use another layout for iPhone X, I can suggest you to override the method `updateViewConstraints` and make the necessary changes.

[2017-11-02 18:40] dineshmahajan commented on #107
Thanks for share this file but this is not working when we apply rotation in app.

[2017-11-03 17:28] dineshmahajan opened #179 "Image not moving in vertical mode after rotate."
When I rotate image with 90 degree then not able to move image top & down, please check & let me know solution for it.

[2017-11-03 20:26] ruslanskorb commented on #179
@dineshmahajan Can you provide a sample project?

[2017-11-04 14:18] dineshmahajan commented on #179
Please check attach video file Frame is not updates after rotate
[Video.zip](https://github.com/ruslanskorb/RSKImageCropper/files/1443247/Video.zip)

[2017-11-04 20:42] ruslanskorb commented on #179
@dineshmahajan I noticed that you are using a custom crop mode.
Can you, please, provide your implementation of `RSKImageCropViewControllerDataSource` methods?

[2017-11-04 20:42] annjawn opened #180 "Setting custom crop mask in Swift 4"
How would I set a custom crop mask in Swift 4? Any code example would be a great help.

[2017-11-04 20:55] ruslanskorb commented on #180
Something like that:

[code]

[2017-11-05 01:50] annjawn commented on #180
@ruslanskorb thanks a lot. I'll give it a try.

[2017-11-05 05:20] dineshmahajan commented on #179
[Class.zip](https://github.com/ruslanskorb/RSKImageCropper/files/1443791/Class.zip)
Hi Thanks for quick response, Please download my file & replace RSKExampleViewController class in an example provided on git.

Thanks

[2017-11-05 09:23] ruslanskorb commented on #179
@dineshmahajan

If you want to support the rotation  when `cropMode` is `RSKImageCropModeCustom` you must implement the method [`imageCropViewControllerCustomMovementRect:`](https://github.com/ruslanskorb/RSKImageCropper/blob/master/RSKImageCropper/RSKImageCropViewController.h#L319).

If the image is not rotated, then the movement rect coincides with the mask rect. In other cases you need to calcu

[2017-11-05 09:23] #178 closed

[2017-11-05 09:24] #180 closed

[2017-11-05 10:10] dineshmahajan commented on #179
If i need to do calculation at my end. Then what is the use library in case
of custom crop. It should be managed by library. Please let me know if you
can provide me solution otherwise i will use other library.

On Sun, Nov 5, 2017 at 2:53 PM, Ruslan Skorb <notifications@github.com>
wrote:

[2017-11-05 10:17] ruslanskorb commented on #179
It is impossible to calculate a movement rect for an unknown mask rect. Therefore, it is the responsibility of the developer who uses this library.

[2017-11-05 10:19] dineshmahajan commented on #179
Can you please provide me example code where you implemented custom crop
functionality. So i can test and implement accordingly.

On Sun, Nov 5, 2017 at 3:47 PM, Ruslan Skorb <notifications@github.com>
wrote:

[2017-11-05 10:26] ruslanskorb commented on #179
You can see how to calculate a movement rect for the square [here](https://github.com/ruslanskorb/RSKImageCropper/blob/master/RSKImageCropper/RSKImageCropViewController.m#L689-L746). I hope it will guide you in the right direction.

[2017-11-05 10:29] dineshmahajan commented on #179
I want to implement same like twitter. It will be great if you can send me with custom . Because in case of square it's easy to manage height and width. I need to implement this today.

[2017-11-06 15:35] tobyhinloopen commented on #165
Did someone have a working `imageCropViewControllerCustomMovementRect` implementation yet?

[2017-11-09 11:33] butterpuf opened #181 "Reuse RSKImageCropViewController object"
I have created RSKImageCropViewController as an instance variable. For the first time I set the variable originalImage of view controller, it works fine. But the second time when I set the originalImage, it still shows me previous image. When I hit choose it crops the image I set on second time!

The only error I think is image not get updated on crop view. Should I call some function to update it

[2017-11-10 05:20] ruslanskorb commented on #181
You don't need to call any additional functions.

I checked your use case in the Example app and made sure that everything works well.

You can replace [this method](https://github.com/ruslanskorb/RSKImageCropper/blob/master/Example/RSKImageCropperExample/RSKExampleViewController.m#L164-L168) with the following and see that the image changes:

[code]

Probably you are changing your image not on th

[2017-11-10 05:59] butterpuf commented on #181
Hi, I am using UIImagePickerController to select image and use the following function to pass it to  RSKImageCropViewController. I think image picker controller calls its delegate on main thread!!.

public func imagePickerController(_ picker: UIImagePickerController, didFinishPickingMediaWithInfo info: [String : Any]) {

        activityIndicator.hide()
        imagePicker?.dismiss(animated: true,

[2017-11-10 06:54] ruslanskorb commented on #181
You can change `originalImage` only before the first presentation of `RSKImageCropViewController` and when `RSKImageCropViewController` is presented.
In your case you need to create a new instance of `RSKImageCropViewController` for each picked image.

[2017-11-10 06:55] butterpuf commented on #181
ohhh. Ok great.

[2017-11-10 06:57] #181 closed

[2017-11-25 11:44] shenguanjiejie opened #182 "I set applyMaskToCroppedImage = YES,but the returned image have margins and their alpha is 0."
Then I call UIImageJPEGRepresentation(image,1);  the margins will turn to whiteColor. like that
![0 _1 tiff](https://user-images.githubusercontent.com/9425605/33230136-06185f1c-d219-11e7-94ea-5b742207182d.png)

[2017-11-26 17:12] ruslanskorb commented on #182
Sorry, but I didn't understand your problem. Please provide more information.

[2017-11-27 03:31] shenguanjiejie commented on #182
😂  Sorry~
'RSKImageCropViewController *imageCropVC = [[RSKImageCropViewController alloc] initWithImage:image];
    imageCropVC.applyMaskToCroppedImage = YES;'

<img width="1933" alt="wx20171127-112800 2x" src="https://user-images.githubusercontent.com/9425605/33249579-622fc792-d366-11e7-8354-cf6c1270316a.png">

Then I call UIImageJPEGRepresentation(croppedImage,1);

result:
![img_cc1acc6b372d-1](h

[2017-11-27 08:22] ruslanskorb commented on #182
Try to set `avoidEmptySpaceAroundImage` to `true`.

[2017-11-27 08:38] shenguanjiejie commented on #182
Not work..

[2017-11-27 09:29] ruslanskorb commented on #182
Can you, please, provide your implementation of `RSKImageCropViewControllerDataSource` methods and the image you trying to crop?

[2017-11-27 10:02] shenguanjiejie commented on #182
![image](https://user-images.githubusercontent.com/9425605/33261062-934ffad2-d39c-11e7-8190-555d77ad66a7.png)
![image](https://user-images.githubusercontent.com/9425605/33261084-a67f30dc-d39c-11e7-9b37-bf13910c86e7.png)
![img_0805](https://user-images.githubusercontent.com/9425605/33261195-002bc1a4-d39d-11e7-81a4-0b20341c53f5.JPG)

#pragma mark - RSKImageCropViewControllerDelegate
- (CGRect)imageC

[2017-11-27 10:14] ruslanskorb commented on #182
@shenguanjiejie Please provide values for `getRect` method.

[2017-11-27 10:18] shenguanjiejie commented on #182
![image](https://user-images.githubusercontent.com/9425605/33261902-687a571e-d39f-11e7-9ed6-366f7f01f61f.png)

[2017-11-27 10:23] ruslanskorb commented on #182
I mean `kScreenWidth`, `kScreenWidth`, `self.imageSize.width`, `self.view.centerX` , etc.

[2017-11-27 10:32] shenguanjiejie commented on #182
kScreenWidth = [UIScreen mainScreen].bounds.size.width;
kScreenHeight = [UIScreen mainScreen].bounds.size.height;
![image](https://user-images.githubusercontent.com/9425605/33262431-316143d0-d3a1-11e7-8875-961a8c90cb45.png)

[2017-11-27 10:58] ruslanskorb commented on #182
I just checked the code and the image you provided and I can say that everything should work as you need if you set the value of `avoidEmptySpaceAroundImage` to `YES`.

[2017-11-27 11:06] shenguanjiejie commented on #182
did you zoom the image? have a try.

[2017-11-27 19:16] ruslanskorb commented on #182
Yes, I did. Everything works properly.

![simulator screen shot - iphone 7 - 2017-11-27 at 21 14 57](https://user-images.githubusercontent.com/1182823/33284517-0d94d446-d3b8-11e7-81e4-63657b81e443.png)

<img width="600" alt="screen shot 2017-11-27 at 21 15 28" src="https://user-images.githubusercontent.com/1182823/33284546-20749aa6-d3b8-11e7-809f-cf4ffdda5724.png">

[2017-11-28 02:37] shenguanjiejie commented on #182
Sorry about my bad English... You may not understand me. Here is my question with a demo.
https://github.com/shenguanjiejie/RJImagePicker

[2017-11-28 08:44] ruslanskorb commented on #182
What problem do you see in these images?

![simulator screen shot - iphone x - 2017-11-28 at 10 40 24](https://user-images.githubusercontent.com/1182823/33309943-a3c7462c-d428-11e7-844c-c841c99d7219.png)
<img width="552" alt="screen shot 2017-11-28 at 10 43 33" src="https://user-images.githubusercontent.com/1182823/33310074-0d00a7a0-d429-11e7-9977-3295d6fb6e65.png">
![simulator screen shot - iphon

[2017-11-28 09:44] shenguanjiejie commented on #182
😭😭😭  their
![image](https://user-images.githubusercontent.com/9425605/33312709-94f24cec-d463-11e7-8421-ac62a89a9860.png)

![image](https://user-images.githubusercontent.com/9425605/33312516-18c556a0-d463-11e7-8406-bf8c7b4e91e6.png)

You can set applyMaskToCroppedImage = NO, will no white margins.

[2017-11-28 15:37] ruslanskorb commented on #182
@shenguanjiejie Fixed in [develop](https://github.com/ruslanskorb/RSKImageCropper/tree/develop) branch. Please check if it works for you.

[2017-11-29 02:26] shenguanjiejie commented on #182
Perfect! Thanks😀

[2017-11-29 16:39] #182 closed

[2017-11-29 16:56] ruslanskorb commented on #182
Eventually, it is fixed in [1.6.4](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/1.6.4) 🎉
Thanks for reporting!

[2017-11-29 17:48] #107 closed

[2017-11-29 18:00] ruslanskorb commented on #52
No. There aren't.

You should not limit the size of the image when cropping.

Instead of this, to get an image with the specific minimum size you need to use **RSKImageCropper** to crop the original image and then if needed manually scale the cropped image up to the minimum output size. This will allow the user to select any desired part of the image.

[2017-11-29 18:03] ruslanskorb commented on #108
Won't fix. Please see my explanation [here](https://github.com/ruslanskorb/RSKImageCropper/issues/52#issuecomment-347944133).

[2017-11-29 18:03] #108 closed

[2017-12-01 13:09] mrhaxic opened #183 "Fit the custom path"
Hello,

Thanks for the awesome library Am trying to make custom mask with the following path

[code]

Where **bounds** is controller bounds.
But the question is how to fit the mask to be in the middle of controller.

Appreciated

[2017-12-02 05:15] ruslanskorb commented on #183
[code]

Please, in the future, ask such questions on [Stackoverflow](https://stackoverflow.com).

[2017-12-02 05:15] #183 closed

[2017-12-06 19:40] andrezacds opened #184 "Multiple Photos"
Hi, I already use RSKImgeCropper, but I now need to be able to crop multiple photos, since the user can select multiple photos at once.

Do you intend to add this feature?

[2017-12-07 02:49] 1jacobb1 opened #185 "cropping panorama image, the result was compressed"
steps:
1. choose an image (panorama image), this image will show a black portion
![img_0040](https://user-images.githubusercontent.com/12472925/33696181-e91fe6a6-db3b-11e7-9f96-99505b7b0ef0.PNG)
2. after cropping the image result
![img_e0041](https://user-images.githubusercontent.com/12472925/33696233-31723f3a-db3c-11e7-8590-42dc1781fadb.JPG) , it was compressed

[2017-12-07 09:17] ruslanskorb commented on #184
Hi @andrezacds!
Sorry, no.

[2017-12-07 09:25] ruslanskorb commented on #185
@1jacobb1 Can you provide a sample project with this problem?

[2017-12-07 09:25] #184 closed

[2017-12-11 08:08] 1jacobb1 commented on #185
just use your current project, just add an uiimageview for the container of the cropped result.

note: you must select a panaroma image. thanks!

[2017-12-11 08:12] ruslanskorb commented on #185
@1jacobb1 Sorry, I didn't understand you. Can you provide your panoramic image? I checked my image and everything works properly.

[2017-12-11 08:40] 1jacobb1 commented on #185
did you zoom it out?

[2017-12-11 08:41] ruslanskorb commented on #185
yes

[2017-12-11 09:08] 1jacobb1 commented on #185
ok i will make and provide you a sample project

[2017-12-20 15:38] ruslanskorb commented on #185
@1jacobb1 Is the issue resolved by you?

[2017-12-21 04:19] wbsgxc opened #186 "Status Bar handling"
Hi

Thanks for the great image cropper, it is very easy to integrate, decent looking and good performance. So... thanks and well done :)

I wanna raise a minor issue regarding how the current RSKImageCropperViewController is handling the status bar.

I do see that we are manually set status bar hidden at the "viewWillAppear" stage and I also see the controller assign back the status bar hidden val

[2017-12-21 04:52] ruslanskorb commented on #186
Hi @wbsgxc,

Thanks for reporting the issue.

Could you, please, describe in more detail the problem that arises, or provide a video / screenshot with this problem?

[2017-12-21 04:54] ruslanskorb commented on #185
@1jacobb1 If the problem still persists feel free to reopen the issue.

[2017-12-21 04:54] #185 closed

[2017-12-21 09:55] wbsgxc commented on #186
Hey

Thanks for the reply. I don have a screen shot at this moment, also better not having one as might contain confidential information of the clients….

Basically, I have for example, in the navigatonController:
    override var prefersStatusBarHidden: Bool {
        return (self.topViewController?.prefersStatusBarHidden)!
    }

So that each viewController’s behaviour will be reflected. However

[2017-12-22 15:59] ruslanskorb commented on #186
Hey @wbsgxc,

`RSKImageCropViewController` overrides `prefersStatusBarHidden` property. So, this shouldn't be a problem.

If you don't want to hide the status bar I can suggest you to create a subclass of `RSKImageCropViewController` and override `prefersStatusBarHidden` property to return `NO`.

[2017-12-26 08:57] ruslanskorb commented on #186
@wbsgxc I will close the issue for now. Feel free to reopen it if you have any other suggestions regarding status bar handling.

[2018-01-22 16:43] stp-ios-gda opened #187 "Size of the cropping rect is too small"
When I zoom in to maximum and crop the image, size of the cropped image is lesser than it should according to the values provided in datasource methods. The problem is caused by taking

` CGFloat maxScale = MAX(xScale, yScale); ` when calculating max possible scale. If we replace this with ` CGFloat maxScale = MIN(xScale, yScale); `, then cropped rect when image is zoomed in to maximum will be exa

[2018-01-22 16:56] ruslanskorb commented on #187
The mask rect and the movement rect do not specify the final size of the cropped image. They are using to generate and display the mask.

[2018-01-22 16:57] ruslanskorb commented on #187
To get an image with the specific minimum size you need to use **RSKImageCropper** to crop the original image and then if needed manually scale the cropped image up to the minimum output size.

[2018-01-23 16:03] ruslanskorb commented on #187
In your case the user will not always be able to select a specific part of the image. Also, there is a case where the original image may have a size smaller than the mask size.

[2018-01-25 13:02] ruslanskorb commented on #187
@stp-ios-gda

So, I decided not to add this functionality to the main repo of **RSKImageCropper**. But you can always do it in your own fork.

Anyway, thank you for collaborating!

[2018-01-25 13:02] #187 closed

[2018-01-25 16:26] borkuslav commented on #187
Actually zoom doesn't affect movement area so every part of the image will be selectable. Anyway thanks for you work, I appreciate your library very much!

[2018-01-25 17:41] ruslanskorb commented on #187
@borkuslav

Probably, I put it not quite clear. The problem is that the accuracy of the selection of the required area in your case is reduced.

This is the first case:

`CGFloat maxScale = MAX(xScale, yScale);`

![simulator screen shot - iphone 7 - 2018-01-25 at 19 52 24](https://user-images.githubusercontent.com/1182823/35402624-40616414-020e-11e8-9cd1-9b3f9d3889d3.png)

`CGFloat maxScale = MIN(

[2018-01-25 22:07] borkuslav commented on #187
Yeah, in some cases zoom range is much reduced. I see your point now. Thanks for sharing examples.

[2018-02-06 17:54] Briahas commented on #107
Hi @ruslanskorb , do you have plans on fixing this bug?

[2018-02-06 18:12] ruslanskorb commented on #107
Hi @Briahas!

This is not a bug of **RSKImageCropper**. You should calculate and return a valid movement rect from `imageCropViewControllerCustomMovementRect(_:)`.

You can see how to calculate a movement rect for the square [here](https://github.com/ruslanskorb/RSKImageCropper/blob/master/RSKImageCropper/RSKImageCropViewController.m#L689-L746). For all other cases, the movement rect is calculated

[2018-02-09 14:24] stoner221 opened #188 "RSKImageCropViewController.m iOS 11.3 Depreciation Fixes"
Line 140 : `self.automaticallyAdjustsScrollViewInsets = NO;` Should be replaced with `self.imageScrollView.contentInsetAdjustmentBehavior = NO;`

Line 163: `[application setStatusBarHidden:YES];` Should be  `application.statusBarHidden = YES;`

Line 187: `[application setStatusBarHidden:self.originalStatusBarHidden];` Should be  `application.statusBarHidden = self.originalStatusBarHidden;`

[2018-02-12 10:37] jalleyne opened #189 "constraint aspect ratio to fill"
Hi @ruslanskorb , I'm wondering if there is a way to create a fill constraint with your library? I have a portrait image and im trying to crop it square, but i want to prevent users from scaling the image below the size that covers the crop area. thanks

[2018-02-12 10:39] ruslanskorb commented on #189
Hi @jalleyne! Just set `avoidEmptySpaceAroundImage` of `RSKImageCropViewController` to `true`.

[2018-02-12 11:29] jalleyne commented on #189
Perfect, thanks for the quick reply. awesome library!

[2018-02-24 07:33] #189 closed

[2018-02-27 08:36] Chana719 commented on #188
Hello, thank you very much for your open source, you are doing well! I recently used your framework, would like to add some features on the basis of this, but failed to achieve, and then would like to ask a question, if I zoom the picture into the crop box, this picture can be arbitrarily moved in the box, or Image right instead of center, and then confirm the crop, display there is a problem, or,

[2018-02-28 11:12] rmusetti81 commented on #186
Sorry but create a subclass and override prefersStatusBarHidden not work.
Help please!!

[2018-03-02 07:58] ruslanskorb commented on #188
@stoner221 I will look at it when the new version of Xcode will be publicly available.

@Chana719 Sorry, but I didn't understand what is your problem and what are you trying to achieve.

[2018-03-02 08:00] Chana719 commented on #188
I have already solved, thank you for your reply!

[2018-03-08 07:33] c1394393468 opened #190 "Why I use circular cutting, return the Square image？"
Why I use circular cutting, return the Square image？

I use RSKImageCropModeCircle , save to Photos, but photo is Square.

[2018-03-09 07:20] ruslanskorb commented on #190
@c1394393468 You need to set `applyMaskToCroppedImage` of `RSKImageCropViewController` to `true`.

[2018-03-09 07:20] #190 closed

[2018-03-09 07:21] c1394393468 commented on #190
Thank  you !

[2018-03-18 02:31] rpendleton commented on #186
Overriding prefersStatusBarHidden didn't work for me either since the viewWillAppear is setting it directly on UIApplication. Removing that method call fixed it for me though.

[2018-03-18 03:11] wbsgxc commented on #186
@rpendleton please refer my comment above.
1. Remove the prefersStatusBarHidden from UIApplication level
2. Propagate the property overridden down from parent towards the frontmost view controller
Like what I try to spot, this should be fixed at the framework level.

[2018-03-18 11:06] LiliaBHMabrouk opened #191 "Zoom in the image"
I'm using your library in swift, and I want to zoom in the picture.. Your library does not support it..

[2018-03-18 11:08] LiliaBHMabrouk opened #192 "Size ofthe rect is small"
I'm using your library in swift, I want to have the size of the mask bigger.

[2018-03-20 12:15] #192 closed

[2018-03-25 18:16] ruslanskorb commented on #191
@LiliaBHMabrouk To change scale factor for the image programatically you need to create a subclass of `RSKImageCropViewController`, import `RSKImageCropViewController+Protected.h` header and use `setZoomScale:` method.

[2018-03-25 18:16] #191 closed

[2018-03-25 19:32] #186 closed

[2018-03-25 19:37] ruslanskorb commented on #188
@stoner221 You are getting these errors because of your deployment target is equal or greater than iOS 11.0.

Minimum deployment target supported by **RSKImageCropViewController** is iOS 6.0.

In your case you can:
1) Ignore these errors.
2) Add `inhibit_all_warnings!` to your **Podfile**.

[2018-03-25 19:37] #188 closed

[2018-03-30 07:24] zhenghaonagehao opened #193 "Stucked when carried out pod install"
terminal showing like this for a long time，finally show error : RPC failed; curl 56 SSLRead() return error -36

Installing RSKImageCropper (2.0.1)

[2018-03-30 07:36] ruslanskorb commented on #193
@zhenghaonagehao You can try:
1) `pod update RSKImageCropper`
2) `pod cache RSKImageCropper clean` + `pod install`

[2018-03-30 09:50] ruslanskorb commented on #193
@zhenghaonagehao Did you solve your issue?

[2018-04-28 08:33] Discobanan opened #194 "Zoom to rect"
Is there a way to zoom the image to a specific rect when first displaying the crop view? It would be nice to combine face detection described [here](https://www.appcoda.com/face-detection-core-image/) with the cropping functionality. We use RSKImageCropper when users upload profile pictures, and it would be nice if we could help the users crop better profile pictures.

[2018-04-30 14:15] ruslanskorb commented on #194
Hi @Discobanan,

Currently, **RSKImageCropper** does not allow to zoom an image to a specific rect 🔍 But this is a good idea :thumbsup:
If you have a free time to implement this functionality, I'll be glad to have a look at it!

Best,
Ruslan

[2018-05-29 15:18] iPhoNewsRO commented on #179
@ruslanskorb i also needed this implementation so maybe you can add the following code i used in the readme file:

add this to your Utils class or VC
[code]

then implement **RSKImageCropViewControllerDataSource** and add:

`func imageCropViewControllerCustomMovementRect(_ controller: RSKImageCropViewController) -> CGRect {
        return self.getBoundingRectAfterRotation(rect: controller.maskRect

[2018-05-31 14:14] culing1317 opened #196 "cropImage wrong when use RSKImageCropModeCustom"
Hello, I want to cut out the picture with an aspect ratio of 16:10, so I used the RSKImageCropModeCustom mode and implemented the protocol methods. But the result is wrong when i rotate the image. Here is my code. Can you help me see it?
[code]

[2018-06-05 08:08] ruslanskorb commented on #196
Hi @culing1317,

Sorry for the late reply.
Please try the fix from the **develop** branch with [the code provided by @iPhoNewsRO](https://github.com/ruslanskorb/RSKImageCropper/issues/179#issuecomment-392816224), and let me know if it works for you.

Best,
Ruslan

[2018-06-07 18:13] ruslanskorb commented on #179
Added working example to README.

[2018-06-08 06:27] #196 closed

[2018-06-08 06:27] #179 closed

[2018-06-08 06:27] ruslanskorb commented on #194
Resolved via #195.

[2018-06-08 06:27] #194 closed

[2018-09-25 01:19] Karthus1110 opened #200 "Use CustomMode clip. Get wrong image."
![c6960693-4649-499f-afad-45eedbd24a24](https://user-images.githubusercontent.com/13864988/45987339-631f5480-c0a3-11e8-9911-3f55bd5bdbdf.png)

I want to clip a human face.But i got this wrong shape.Last version I use get the correct image.But this time,I update the pod and update to newest version of RSKImageCropper.It's work something wrong.

![826c5fbf-f61a-4711-a24a-96fe0f893993](https://user-i

[2018-09-25 06:57] ruslanskorb commented on #200
@Karthus1110 Which version did you use before?

[2018-09-25 07:01] Karthus1110 commented on #200
@ruslanskorb Im not sure. But the version is about five month ago . I import this library five month ago.

[2018-09-25 07:08] Karthus1110 commented on #200
@ruslanskorb The black and white effect is not due to library. The only question is clip not correct

[2018-09-25 07:09] ruslanskorb commented on #200
@Karthus1110 Perhaps the previous version is listed in your version control system.

[2018-09-25 07:12] ruslanskorb commented on #200
@Karthus1110 Also, could you provide the code where you are configuring the view controller.

[2018-09-25 07:16] Karthus1110 commented on #200
@interface ZYDIYViewController () <TZImagePickerControllerDelegate, RSKImageCropViewControllerDelegate, RSKImageCropViewControllerDataSource, UIImagePickerControllerDelegate, UINavigationControllerDelegate, UICollectionViewDelegate, UICollectionViewDataSource>

    @property (nonatomic, strong) UICollectionView *collectionView;

    @property (nonatomic, strong) NSArray *dataArr;

    @end

    @i

[2018-09-25 07:19] Karthus1110 commented on #200
@ruslanskorb this is the code i use before.
![image](https://user-images.githubusercontent.com/13864988/45998724-49e3cb80-c0d6-11e8-8a44-027999feb6e9.png)

[2018-09-25 07:52] ruslanskorb commented on #200
@Karthus1110 You return wrong `customMovementRect` from `[imageCropViewControllerCustomMovementRect:]`.

<img width="1680" alt="screen shot 2018-09-25 at 10 33 29" src="https://user-images.githubusercontent.com/1182823/46000146-72f16580-c0b0-11e8-8842-bb30be4ede0e.png">

It must cover the mask rect.

You should calculate it based on `rotationAngle` of `RSKImageCropViewController`.

Below is a simp

[2018-09-25 07:54] Karthus1110 commented on #200
Thanks very much.I will try it.@ruslanskorb

[2018-09-25 09:35] Karthus1110 commented on #200
It's still wrong when i not rotate the image.
I set a breakpoint in code.It's just return controller.maskRect and still clip wrong area.
![462c69f0-d5bf-4eaa-be8b-49eb8bb83f67](https://user-images.githubusercontent.com/13864988/46006068-3db53980-c0e9-11e8-831d-3ea27d2c1582.png)
![123bdaba-ab31-4588-8e85-b9e426f7cd31](https://user-images.githubusercontent.com/13864988/46006073-4148c080-c0e9-11e8-95

[2018-09-25 10:08] ruslanskorb commented on #200
@Karthus1110 Could you show the image you are getting in `[imageCropViewController:didCropImage:usingCropRect:rotationAngle:].`?

[2018-09-26 00:44] Karthus1110 commented on #200
I got this.Using an imageView to show this image, without any other process
![99b7ec1c-192b-4aeb-b021-0fa461467e09](https://user-images.githubusercontent.com/13864988/46050687-1b163580-c168-11e8-9c49-f85f227d01cf.png)
![3e70c960-8fb7-40b5-b05a-a35ed3b311d6](https://user-images.githubusercontent.com/13864988/46050717-426d0280-c168-11e8-8dea-ac79121ffead.png)

[2018-09-26 02:42] ruslanskorb commented on #200
@Karthus1110 Use preview button to show the image.

<img width="364" alt="screen shot 2018-09-26 at 05 39 27" src="https://user-images.githubusercontent.com/1182823/46054174-d8942f00-c14e-11e8-95e4-5243b24a200e.png">

Also, could you provide the image you are trying to crop?

[2018-09-26 02:48] Karthus1110 commented on #200
![image](https://user-images.githubusercontent.com/13864988/46054372-a5b36080-c179-11e8-8710-165d691d6c6d.png)
![image](https://user-images.githubusercontent.com/13864988/46054389-b237b900-c179-11e8-9755-bd62e18b2bd8.png)

[2018-09-26 04:58] #200 closed

[2018-11-13 08:09] fzuycg opened #202 "Can you be compatible with iPhone X?"
Can you be compatible with iPhone X?

[2018-11-13 08:10] ruslanskorb commented on #202
@fzuycg What do you mean?

[2018-11-15 09:29] #202 closed

[2018-11-23 08:45] zhaochengxiang opened #203 "simplify code"
In RSKImageCropViewController.m

when init it, orientation originalImage.

code:

(instancetype)initWithImage:(UIImage *)originalImage
{
self = [self init];
if (self) {
_originalImage = [originalImage fixOrientation];
}
return self;
}
Then remove relative code in：

(CGRect)imageRect;
CGSize imageSize = self.originalImage.size;
    CGFloat x = CGRectGetMinX(imageRect);
    CGFloat y = CGRectGetMinY

[2018-11-24 15:31] ruslanskorb commented on #203
The method `fixOrientation` creates a new image by copying it bit by bit. This is an expensive operation that should not be performed on the main thread. In turn, `RSKImageCropViewController` is always required to be created on the main thread. Therefore, we cannot fix the orientation of the image in `initWithImage:` initializer.

[2018-11-24 15:31] #203 closed

[2018-11-28 18:23] zinoviev opened #204 "Question: Can I crop rectangular image to smaller square area"
Hi, this is a duplicate question as https://github.com/ivpusic/react-native-image-crop-picker/issues/890 As react-native-image-crop-picker uses RSKImageCropper Maybe @ruslanskorb can help me find the answer

[2018-11-29 11:44] ruslanskorb commented on #204
Hi @zinoviev!

Is `avoidEmptySpaceAroundImage` property of `RSKImageCropViewController` what you need?

[2018-11-29 12:50] zinoviev commented on #204
@ruslanskorb Thanks for quick response. I've try it, but I think result wasn't square sized. Where is good chance I did something wrong and if you say it's what I looking for I will try once more, maybe without RN wrapper lib for clear experiment. Is where the way to setup background color for this case?

[2018-11-29 13:54] ruslanskorb commented on #204
@zinoviev Try `avoidEmptySpaceAroundImage = NO` in conjunction with `applyMaskToCroppedImage = YES`.

Background color of what?

[2018-11-29 14:00] zinoviev commented on #204
@ruslanskorb See sample at https://github.com/ivpusic/react-native-image-crop-picker/issues/890

If we shrink original reactangular image to fit in square we need to fill remaining space with some color(or no-color) In my example it is grey. I'm wondering if we can setup this color

[2018-11-29 16:15] ruslanskorb commented on #204
@zinoviev The remaining area is transparent and there is currently no API to fill it with color.

[2018-11-30 13:39] ruslanskorb commented on #204
@zinoviev Have you solved the issue?

[2018-12-04 08:46] #204 closed

[2018-12-11 12:14] romansladecekinloop opened #205 "iPhone X - Cancel & Confirm button padding issue"
We have a problems with tapping on Cancel & Confirm buttons (RSKImageCropViewController) on iPhoneX... Height of these button is 32 (apple recommended is 44 at least), so sometimes there is hard to tap on them... Please set some padding (UIEdgeInset) to these two buttons to increase their height (width is recommended too). ~Thanks for quick response

[2018-12-27 12:48] A-Hing opened #206 "How to set 'maximumZoomScale' manually?"

[2019-02-08 06:23] fryette opened #207 "Xamarin binding library"
Hi, first of all, thank you for your lib.
I created binding library for xamarin users. It would be great if you post link on library in readme file, o somehow highlight it.
nuget package: https://www.nuget.org/packages/RSKImageCropper/
source code: https://github.com/fryette/RSKImageCropper

[2019-04-04 10:23] #207 closed

[2019-05-29 18:37] brandonpearcy opened #208 "version 2.1.0 broke react-native-image-crop-picker"
See https://github.com/ivpusic/react-native-image-crop-picker/issues/850 for a detailed reported. I have been able to confirm that the 2.1.0 release broke cropping while zooming on iOS. The cropRect field in the response is bogus. Since I do not use RSKImageCropper directly, can you confirm that zooming+cropping is working as expected? If so, what changed between 2.0.1 and 2.1.0 that might cause c

[2019-05-30 07:35] ruslanskorb commented on #208
Hi @brandonpearcy,

I can confirm that zooming+cropping is working as expected in the latest version of **RSKImageCropper**.

As far as I can see [react-native-image-crop-picker](https://github.com/ivpusic/react-native-image-crop-picker) library has additional post image processing. Check with its author, whether it works correctly. Probably, implementation of the `RSKImageCropViewControllerDataSo

[2019-06-06 11:22] ruslanskorb commented on #208
@brandonpearcy Feel free to reopen the issue if you succeed in reproducing the problem in **RSKImageCropper**.

[2019-06-06 11:22] #208 closed

[2019-06-11 07:55] miaotaoii opened #209 "when I crop my picture from front camera, I zoomed photo and crop the bottom half of the photo, but I got result with top half of the photo"
## 前置相机拍照后剪裁时，剪裁出的结果上下时反的

[2019-06-11 07:56] miaotaoii commented on #209
前置相机拍照后剪裁时，剪裁出的结果上下是反的

[2019-06-11 11:36] ruslanskorb commented on #209
@miaotaoii Please, use English. Also, could you provide an example of what you expect and what you have?

[2019-06-13 03:05] uestchang opened #210 "How to redeclaring the things in CGGeometry+RSKImageCropper.h?"
I have to use the project which is created by cocos creator , and the project include a module  register so that i can't use < tgmath.h >.
The error of Xcode is" Use of undeclared identifier '__tg_promote1' "and"Expanded from macro 'floor' ".
I have no idea about how to work around and redeclaring the things ,please help me.
Your help is greatly appreciated .
:)

[2019-06-13 03:08] uestchang commented on #209
I think u can check the exif info with the image , if the orientation/rotation of image is wrong , fix it by your own func.

[2019-06-13 03:37] miaotaoii commented on #209
I just crop photo use RSKImageCropViewController.cropImage(), and then get the result in
func imageCropViewController(_ controller: RSKImageCropViewController, didCropImage croppedImage: UIImage, usingCropRect cropRect: CGRect) { ... }. without changing orientation or
rotation
###  And  I got the correct result image when I use rear camera to take photo and crop it, but when I crop my photo from f

[2019-06-13 08:56] ruslanskorb commented on #209
@miaotaoii Check the image you are using to initialize `RSKImageCropViewController`. Does it have the correct orientation? Check the image you are getting in `didCropImage:...` of `RSKImageCropViewControllerDelegate`. Does it have the correct orientation? Also, could you provide a sample project that reproduces your problem?

[2019-06-13 09:09] ruslanskorb commented on #210
@uestchang What do you mean by **module register**?
Try to delete content of DerivedData folder -  `~/Library/Developer/Xcode/DerivedData/*`.
Which version of Xcode do you use?
Could you provide the build log?

[2019-06-14 02:04] miaotaoii commented on #209
thanks ,maybe not crop problem I think, I will find out it later

[2019-06-14 02:04] #209 closed

[2019-06-14 06:48] uestchang commented on #210
Hello guys,I try tp clean DerivedData just like u say ,but it didn't work.
My Xcode version is Version 10.0 (10A255).
The build logs are as follows:

/Users/mabinhang/IosDemo/build/jsb-default/frameworks/runtime-src/proj.ios_mac/ios/RootViewController.mm:362:28: error: use of undeclared identifier '__tg_promote1'
    } while (maskHeight != floor(maskHeight));
                           ^
In file i

[2019-06-14 06:51] uestchang commented on #210
![screenShot 2019-06-14 afternoon 2 50 11](https://user-images.githubusercontent.com/32725091/59489109-ded06400-8eb3-11e9-9bd7-5f3a7db05b4f.png)

[2019-06-14 08:12] uestchang commented on #210
![image](https://user-images.githubusercontent.com/32725091/59493812-573c2280-8ebe-11e9-8b07-fcd004468eb1.png)
It's so strange that when I choose the floor and right click and select JumpToDefinition , there are six items were shown;
However, in another project(an single page ios project) which work well,there are only one definition and jumpToDefiniton at <CoreGraphics/CoreGraphics.h> immediately

[2019-06-17 07:43] uestchang commented on #210
I think that I found out what happen in my project ,in the project which was created by cocos creator engine , the <tgmath.h> is different  from the common project.
But i still don't know how to fix this problem :((((

[2019-06-17 07:56] uestchang commented on #210
![screenShot 2019-06-17 afternoon 3 53 38](https://user-images.githubusercontent.com/32725091/59587695-76ce8780-9118-11e9-9be9-1d53a46e1490.png)
![screenShot2019-06-17 afternoon3 54 14](https://user-images.githubusercontent.com/32725091/59587699-77671e00-9118-11e9-9682-339bfe78ff62.png)

[2019-06-17 08:48] uestchang commented on #210
I think .mm extension cause Xcode complier use tgmath.h from C++ V1 instead of clang, but I have to use .mm extension in default.
In fact ,I have try to use .m to instead ,and then another error come up :(( , it seems that .mm extension is necessary for cocos creator project.

[2019-06-18 08:24] uestchang commented on #210
@ruslanskorb Hey bro ,is it possible to use math.h to instead tgmath.h ?
 I try my best to fix the problem but all of them didn't work.

[2019-06-18 09:42] ruslanskorb commented on #210
Hi @uestchang! It looks like a configuration problem. Could you try to disable **Modules** feature in the build settings? https://stackoverflow.com/questions/23333287/tgmath-h-doesnt-work-if-modules-are-enabled

[2019-06-18 10:16] uestchang commented on #210
@ruslanskorb I had tried to set Modules feature to NO ,it didn't work :( , by the way , I try to change compilers of my app target , also didn't work.

[2019-06-18 10:21] uestchang commented on #210
In fact , in my wrong project ,the Modules feature is NO in default . In another project which of Modules feature is YES, the cropper work well .

[2019-06-18 10:48] ruslanskorb commented on #210
@uestachang Could you provide a sample project with your problem?

[2019-06-20 08:59] ruslanskorb commented on #210
@uestchang Did you manage to solve the problem?

[2019-06-20 14:24] uestchang commented on #210
@ruslanskorb  I am sorry about the late reply to you .I want to solve the problem ,it is hard and I spent a few days to try ,but it didn't work .
I will send a sample to you tomorrow as well as try to solve it in the meantime.

[2019-06-21 02:02] uestchang commented on #210
[proj.ios_mac.zip](https://github.com/ruslanskorb/RSKImageCropper/files/3312723/proj.ios_mac.zip)
@ruslanskorb
This is a sample with the problem.

[2019-06-21 06:17] ruslanskorb commented on #210
@uestchang Your sample project has several missing files and produces errors that are not related to this problem. Please, provide a correct sample.

[2019-06-21 06:32] uestchang commented on #210
@ruslanskorb sorry , i will check it and send a correct sample.

[2019-06-21 06:50] uestchang commented on #210
@ruslanskorb The whole project created by cocos creator is too big which include the engine content. I have compressed it but it's still over 100MB .Owing to this , I can't upload it here.

[2019-06-21 07:01] uestchang commented on #210
https://1drv.ms/u/s!AshYtZMJ4vKjh0I9fwYKiSM0zWMT?e=KIz8CV
@ruslanskorb
I upload the sampleProject.zip file to oneDrive .

The Xcode project path is "SampleProject/build/jsb-default/frameworks/runtime-src/proj.ios_mac"

[2019-06-21 07:51] ruslanskorb commented on #210
@uestchang As a workaround, add the following code to `RootViewController.mm` after `#import <RSKImageCropper/RSKImageCropper.h>`:

[code]

[2019-06-21 08:15] #210 closed

[2019-06-21 08:20] ruslanskorb commented on #210
@uestchang Fixed in [2.2.2](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/2.2.2).

[2019-06-22 01:37] uestchang commented on #210
OK ,thank you so much  :)))))

[2019-07-06 07:27] tryWabbit opened #211 "How can we draw and extract a part of image?"
Hi,
I'm really impressed by your library! I want to ask if there is a scope for selecting a part of image and extract it as an image like the given image below. We are implementing a photo application where the user can select a part of the image and that image will be added to another image. If you guys can give me a direction how to achieve this, That would be amazing.  I really appreciate your

[2019-07-08 06:05] ruslanskorb commented on #211
Hi @tryWabbit!

At the moment, **RSKImageCropper** does not have this functionality.

You can try to achieve this by subclassing `RSKImageCropViewController`, setting `cropMode` to `.custom` and implementing `RSKImageCropViewControllerDataSource` methods with the logic of selecting the desired area.

Cheers!

[2019-07-08 06:10] tryWabbit commented on #211
Hi @ruslanskorb ,
Thanks for the quick reply and the direction! I'm going to take a look at it for sure.

[2019-07-22 10:42] yangqingren opened #212 "cropImage layout was wrong when use RSKImageCropModeCustom"
hello, cropImage wrong when use RSKImageCropModeCustom
Reproduction steps:
1. Set the example to cropMode:RSKImageCropModeCustom；
2. Use CGSize aspectRatio = CGSizeMake (16.0f, 9.0f);
3. Rotate 90° and move the picture downward.
Discovery: The picture flashed and the layout was wrong.

[2019-07-22 12:07] ruslanskorb commented on #212
Hi @yangqingren,

I can't reproduce your issue. Could you provide a test project?

Thanks!

[2019-07-22 12:31] yangqingren commented on #212
Using your example, CGSizeMake (16.0f, 9.0f) (not square),
Rotate and drag down to the bottom;
Should be reproducible.(If it weren't for the problems I caused)

I will solve this problem temporarily  by :

-(CGRect)cropRect
{
    CGRect maskRect = self.maskRect;
    CGFloat rotationAngle = self.rotationAngle;
    CGRect rotatedImageScrollViewFrame = self.imageScrollView.frame;
    float zoomScale

[2019-07-22 12:51] ruslanskorb commented on #212
@yangqingren How do you rotate an image? Programmatically or with a gesture?

[2019-07-22 12:52] yangqingren commented on #212
with a gesture

[2019-07-22 13:02] ruslanskorb commented on #212
@yangqingren Could you record a video of what exactly is wrong?

[2019-07-22 13:08] yangqingren commented on #212
have been sent ‘ruslan@rsk-lab.com ’

[2019-07-22 14:46] ruslanskorb commented on #212
@yangqingren Thank! Now I noticed the problem.

[2019-07-22 14:47] ruslanskorb commented on #212
[RPReplay_Final1563800730.MP4.zip](https://github.com/ruslanskorb/RSKImageCropper/files/3417957/RPReplay_Final1563800730.MP4.zip)

[2019-07-23 12:21] ruslanskorb commented on #212
Hi @yangqingren,

I pushed the fix in **develop** branch. Could you test it?

[2019-07-23 12:46] yangqingren commented on #212
The same problem has arisen by the branch #213
You can test this way：
`- (void)onAddPhotoButtonTouch:(UIButton *)sender
{
    UIImage *photo = [UIImage imageNamed:@"photo"];
    RSKImageCropViewController *imageCropVC = [[RSKImageCropViewController alloc] initWithImage:photo cropMode:RSKImageCropModeCustom];
    imageCropVC.dataSource = self;
    imageCropVC.delegate = self;
    imageCropVC.rotati

[2019-07-23 12:50] ruslanskorb commented on #212
@yangqingren Did you test [develop](https://github.com/ruslanskorb/RSKImageCropper/tree/develop) branch?

[2019-07-23 12:54] ruslanskorb commented on #212
This is what I see - [RPReplay_Final1563886346.MP4.zip](https://github.com/ruslanskorb/RSKImageCropper/files/3422113/RPReplay_Final1563886346.MP4.zip)

[2019-07-24 11:03] ruslanskorb commented on #212
Hi @yangqingren! Could you check the latest changes in the **develop** branch?

[2019-07-24 11:35] yangqingren commented on #212
nice, this problem has been solved in the dev.

[2019-07-24 11:37] ruslanskorb commented on #212
@yangqingren Glad to hear it!

[2019-07-25 07:18] #212 closed

[2019-07-25 07:27] ruslanskorb commented on #212
@yangqingren Fixed in [2.2.3](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/2.2.3) 🚀  Thank you for reporting!

[2019-07-25 07:39] #211 closed

[2019-07-25 10:49] ruslanskorb commented on #208
Fixed in [2.2.3](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/2.2.3).

[2019-08-12 15:19] vkolosovsky commented on #177
@ruslanskorb I see exactly same build error (Xcode 10.3, Swift 4.2)
<img width="722" alt="Screen Shot 2019-08-12 at 18 18 40" src="https://user-images.githubusercontent.com/10945964/62876444-a3280e00-bd2d-11e9-9dd4-dbfae1bafb6a.png">

[2019-09-16 06:00] georgek1991 commented on #62
Is there a way to not use the localisation from the pod and always set language to a single language ie. English.

[2019-09-17 06:13] georgek1991 opened #215 "App crash for Live Photos on iOS"
I am trying to crop live photos on iPhone. I am using this library in app extension so that the user can select the image from gallery. App is getting crashed when I select a Live Photo. The log shows memory issue. But this crash is not happening for all the live photos. I am guessing the crash is happening if the Live Photo are large in size. Can you please tell me a workaround for this issue.
Th

[2019-09-30 07:09] #215 closed

[2019-11-11 12:14] 1jump2 opened #217 "Resize the image smaller within the crop area"
Is it possible to resize the image within the crop area, so it's smaller _than_ the crop area?

What I'm trying to accomplish is positioning an image within a canvas for t-shirt printing.

I guess what I want is to be able to zoom out and have everything around it transparent.

[2019-11-11 15:08] ruslanskorb commented on #217
@1jump2 Sorry, I did not understand your question. Could you rephrase it?

[2019-11-14 15:27] vkolosovsky commented on #177
Same problem on Xcode 11.2

[2019-11-15 13:00] #217 closed

[2020-01-24 14:16] ravifullestop opened #219 "Issue in zoom out"
Hello

I have tried all the way but not succeeded as it is not allowing to zoom out. Can you please help, I have attached the issue video it is not allowing to capture the girl image completely.

[Issue.mov.zip](https://github.com/ruslanskorb/RSKImageCropper/files/4108853/Issue.mov.zip)

[2020-01-24 19:11] ruslanskorb commented on #219
@ravifullestop This looks like you need to set `avoidEmptySpaceAroundImage` to `NO`.

[2020-01-27 14:30] #219 closed

[2020-01-28 03:58] ravifullestop commented on #219
Still this not fixed with it, and there is no setting in react native for it, can you please help.

[2020-01-28 06:50] ruslanskorb commented on #219
@ravifullestop If you are not using **RSKImageCropper** directly, please contact the owner of the react native repository with your problem.

[2020-02-12 16:04] vadim-inmanage opened #220 "How can one manipulate maskLayerColor in Swift?"

[2020-02-12 17:13] ruslanskorb commented on #220
@vadim-inmanage What do you mean by **manipulate**?

[2020-02-13 04:11] vadim-inmanage commented on #220
Thanks for the quick response!
I am trying to change the partly opaque dark layer (with the opaque circle inn the middle) to white opaque layer
From what I understand, I should change the maskLayerColor to achieve this? though changing it from my view controller after initializing the RSKImageCropViewController:
`        let image = info[.originalImage] as? UIImage
        let imgCropper = RSKImag

[2020-02-13 06:18] ruslanskorb commented on #220
`imageCropViewController.maskLayerColor = UIColor(white: 1.0, alpha: 0.5)` should work.

@vadim-inmanage Could you provide a sample project that reproduces your problem?

[2020-02-13 06:35] vadim-inmanage commented on #220
Silly me, while making a sample project to upload I realize **I wasn't implementing  RSKImageCropViewControllerDataSource** !
Everything works now, thanks

[2020-02-13 06:40] ruslanskorb commented on #220
@vadim-inmanage Glad to hear that everything works 👍

[2020-02-13 06:41] #220 closed

[2020-04-13 13:53] rursache commented on #205
there are still issues with bottom buttons constrains on no home button devices

[2020-07-28 13:14] burning-git opened #222 "可以开放 缩放的最小比例的api吗"

[2020-07-28 13:23] ruslanskorb commented on #222
@burning-git Sorry, I don't understand you. Could you ask your question in English?

[2020-07-29 03:54] burning-git commented on #222
photo  minsacle can set custom sacle  ?

[2020-07-29 09:34] ruslanskorb commented on #222
@burning-git

Is this what you are looking for? - #52

[2020-08-07 08:27] CapnSpellcheck opened #223 "What is the point of method swizzling UIApplication.shared?"
I don't like having this swizzle in my app. What is the purpose?
Seems like the rsk_sharedApplication is only used if `respondsToSelector:@selector(prefersStatusBarHidden) == NO`. Nobody still runs or cares about iOS version that doesnt have this method.

[2020-08-11 13:42] #222 closed

[2020-08-11 13:57] ruslanskorb commented on #223
The minimum supported version for **RSKImageCropper** is **iOS 6**. `prefersStatusBarHidden` property is available starting from iOS 7.0. So, we need `respondsToSelector:@selector(prefersStatusBarHidden) == NO` check.

As for the method swizzling, we need it to support extensions.

[2020-08-11 13:57] #223 closed

[2020-09-24 10:22] vincentthe0ne opened #225 "Support for SPM"
Hey! I would like to request, that your ImageCropper supports the Swift Package Manager. Is that possible?

[2020-09-24 10:31] ruslanskorb commented on #225
Hi, @vincentthe0ne.

Support for SPM was added in version [2.3.0](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/2.3.0).

[2020-09-24 10:53] vincentthe0ne commented on #225
Sorry @ruslanskorb Haven't seen that yet, thank you!

[2020-09-24 10:53] #225 closed

[2020-12-11 12:02] Wassmd opened #227 "Localisation is not working"
I added the framework using SPM.
"Move and Scale", Cancel, and choose are not localised

On break point:
 NSString *stringsBundlePath = [bundleForClass pathForResource:@"RSKImageCropperStrings" ofType:@"bundle"];

stringsBundlePath is nil

<img width="1268" alt="Screen Shot 2020-12-11 at 13 01 24" src="https://user-images.githubusercontent.com/5626993/101901258-10151780-3bb1-11eb-9254-dd31f19e899f

[2020-12-11 14:30] #227 closed

[2020-12-11 19:01] ruslanskorb commented on #227
@Wassmd Fixed in version [3.0.1](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/3.0.1).

[2020-12-15 11:37] Wassmd commented on #227
Thanks @ruslanskorb it works now 🥇

[2021-01-14 16:09] yakupcaglan opened #229 "The position of the photo to be cropped does not change."
I have a problem. This problem does not occur when I select photos from the Photo Library. However, when I take a photo from the camera, I do not adjust the position of the photo while cropping it. It comes back to the same position when I slide it.

https://user-images.githubusercontent.com/13396852/104616857-d77ac900-569b-11eb-925b-8ea7809ab03d.mov

Do you have an idea?

thanks in advancee  :)

[2021-01-15 18:54] ruslanskorb commented on #229
@yakupcaglan Are you using `custom` crop mode?

[2021-01-19 08:20] Desmuz opened #230 "Warning when include RSKImageCropper in SPM"
ignoring broken symlink /Users/*/RSKImageCropper/RSKImageCropper/include/RSKImageCropper/UIApplication+RSKImageCropper.h

When try to open this file in Xcode - file does not open.

[2021-01-19 09:17] #230 closed

[2021-01-19 09:22] ruslanskorb commented on #230
@Desmuz Fixed in [3.0.2](https://github.com/ruslanskorb/RSKImageCropper/releases/tag/3.0.2).

[2021-01-19 10:20] Desmuz commented on #230
👍

[2021-01-20 09:03] ruslanskorb commented on #229
@yakupcaglan Feel free to reopen the issue if it's not resolved.

[2021-01-20 09:03] #229 closed

[2021-09-15 19:26] matthewjsloane opened #234 "Prevent user from cropping a photo with edges outside of the image boundary"
Hi all, I noticed that if you use the image cropping tool and have one or more edges that extend past the image boundary, it is possible for the cropped image that is returned to be non-square (unequal width and height). I am using the circular image mask.

In the Contacts app, it prevents you from pressing the submit button while your cropping mask extends past the image boundary.

In my own app,

[2021-09-16 06:18] ruslanskorb commented on #234
Hi @matthewjsloane,

Thank you for the question!

You probably need the [`avoidEmptySpaceAroundImage`](https://github.com/ruslanskorb/RSKImageCropper/blob/master/RSKImageCropper/RSKImageCropViewController.h#L159) property of `RSKImageCropViewController`. It determines whether the image will always fill the mask space. Default value is `NO`.

[2021-09-16 15:17] matthewjsloane commented on #234
Hi, I noticed that property but it seems like it only prevents the mask from exceeding the image boundary after the user stops dragging the mask. If the user taps the submit button while the mask is still being dragged, it's possible for there to be empty space still as far as I can tell.

[2021-09-16 15:54] ruslanskorb commented on #234
If I understood you correctly, you are looking for a way to configure the `bounces` and `bouncesZoom` properties of `RSKImageScrollView`. By setting them to `NO`, it is possible to achieve the effect you want.

At the moment **RSKImageCropper** has no such functionality. But it is possible to add new properties `bounces` and`bouncesZoom` to `RSKImageCropViewController`, similar to the properties `

[2021-09-21 13:45] MatteoJ opened #235 "Circlemask center, width etc. + Cancel button completion boolean?"
Dear all,

Firstly, I am trying to make a circular profile picture cropper like advertised on the readme of this repository. While it works perfectly, I need some extra information on the circular mask (like the location of the mask center, width, ...). Unfortunately, I cannot seem to find it myself. I only find this info for rectangular masks, but these values are all 0 for the circle. Below is a

[2021-09-22 04:42] ruslanskorb commented on #235
Hi @MatteoJ,

`RSKImageCropViewController` has a property [`maskRect`](https://github.com/ruslanskorb/RSKImageCropper/blob/master/RSKImageCropper/RSKImageCropViewController.h#L117) , that is updated each time before the crop view lays out its subviews. So, you need to wait for the crop view to do this at least once.

Regarding your second question, `RSKImageCropViewControllerDelegate` has a method

[2021-10-02 17:54] #235 closed

[2022-04-26 03:45] sugitatestblue commented on #88
[code]

[2022-04-26 05:00] sugitatestblue opened #241 "Small and fix size cropping"
Hello

I want to use it for small square rectangle which fixed.
is it possible?

[2022-04-26 05:09] sugitatestblue commented on #241
`avoidEmptySpaceAroundImage = true` is good
but bouncing.

[2022-04-26 05:11] sugitatestblue commented on #241
[code]
didn't work.

[2022-04-26 06:12] sugitatestblue opened #242 "Able to push select button when dragging"
While dragging image, it can push push select button.
So, it can select empty area.

[2022-04-26 06:37] sugitatestblue commented on #234
not yet?

[2022-04-26 06:54] sugitatestblue commented on #242
pis aller

[code]

[2022-04-26 06:54] sugitatestblue commented on #234
I did like this.
https://github.com/ruslanskorb/RSKImageCropper/issues/242

[2022-05-18 19:56] ruslanskorb commented on #241
Hey @sugitatestblue,

Sorry for the late replay. Could you check out the [develop](https://github.com/ruslanskorb/RSKImageCropper/tree/develop) branch and let me know if you can do what you wanted using the [latest additions](https://github.com/ruslanskorb/RSKImageCropper/commit/ff7fc57aa4dd60e0513347de9759df1e95825b0b)?

[2022-05-24 18:27] #234 closed

[2022-05-24 18:27] #242 closed

[2022-06-01 15:51] #241 closed

[2022-06-17 11:10] Raka231 opened #245 "RSKImageCropper"
Hey Ruslan Skorb, Could you please convert RSKImageCropper library into Swift.

[2022-06-27 09:56] ruslanskorb commented on #245
Hey, @Raka231. Although **RSKImageCropper** is written in Objective-C, it can be used from code written in Swift. Is there really a need to rewrite it using the Swift language? Have you encountered any problems that require this?

[2022-06-27 14:47] randarnold commented on #245
I use RSKImageCropper in a swift app with no issues that I can find.

[2022-07-07 17:58] ruslanskorb commented on #245
@Raka231 Feel free to reopen the issue if there really is a need to rewrite **RSKImageCropper** using the **Swift** language, which we are not aware of.

[2022-07-07 17:58] #245 closed